.card-games {
  background: #F9F7F7;
  border-radius: 6px;
  border: 1px solid #E8E2E0;
  display: inline-flex;
  width: 175px;
  padding: 5px;
  margin: 5px;
}


.card-games-small {
  background: #F9F7F7;
  border-radius: 6px;
  border: 1px solid #E8E2E0;
  display: inline-flex;
  width: 115px;
  padding: 5px;
  margin: 5px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.bordered-card {
  max-width: 250px;
  min-width: 250px;
  margin: 20px;
  border: 1px solid #BFAEAA;
  border-radius: 10px;
  padding: 1.5rem;
}

.game-button {
  background: #0B6FEA;
  width: 100%;
  color: white;
}
.custom-position-0 {
  top: 15px;
  inset-inline-start: 0;
  z-index: 1;
}

.custom-position-1 {
  top: 15px;
  inset-inline-start: 15px;
  z-index: 10;
}

.custom-position-2 {
  top: 15px;
  inset-inline-start: 30px;
  z-index: 100;
}

.custom-position-3 {
  top: 15px;
  inset-inline-start: 45px;
  z-index: 1000;
}

.custom-position-4 {
  top: 15px;
  inset-inline-start: 60px;
  z-index: 10000;
}

.custom-position-5 {
  top: 15px;
  inset-inline-start: 75px;
  z-index: 10000;
}

.custom-position-6 {
  top: 15px;
  inset-inline-start: 90px;
  z-index: 10000;
}

#google_translate_element {
  display: none;
}

