<br><br>
<div class="card border-0 p-4 font-size-16 weight-600" *ngIf="generalService.userObj">
  {{'Setting' | translate}}
</div>
<br>
<div class="card border-0 p-4" *ngIf="generalService.userObj">
  <form [formGroup]="settingsForm" (ngSubmit)="updateSettings()">
    <mat-form-field appearance="fill" class="custom-form-field"
                    [class]="{'w-50': !generalService.isMobileView, 'w-100': generalService.isMobileView}">
      <mat-label>{{'Language' | translate}}</mat-label>
      <mat-select [formControlName]="'language'">
        <mat-option *ngFor="let lang of generalService?.clientInit?.languages"
                    [value]="lang._id">{{lang.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="custom-form-field"
                    [class]="{'w-50': !generalService.isMobileView, 'w-100': generalService.isMobileView}">
      <mat-label>{{'Homepage' | translate}}</mat-label>
      <mat-select [formControlName]="'defaultHomePage'">
        <mat-option *ngFor="let hp of generalService?.clientInit?.homePages"
                    [value]="hp.id">{{hp.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="custom-form-field"
                    [class]="{'w-50': !generalService.isMobileView, 'w-100': generalService.isMobileView}">
      <mat-label>{{'Font' | translate}}</mat-label>
      <!--     [ngModelOptions]="{standalone: true}" (selectionChange)="generalService.onFontSelect($event)" (selectionChange)="onFontSelect($event)"  [(ngModel)]="generalService.font"-->
      <mat-select [formControlName]="'font'">
        <mat-option *ngFor="let font of availableFonts" [value]="font">{{font}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-slide-toggle labelPosition="before"
                      [formControlName]="'playAnonymously'">{{'Play Anonymously' | translate}}</mat-slide-toggle>
    <br>
    <br>
    <mat-form-field *ngIf="settingsForm.controls.playAnonymously.value" appearance="fill"
                    class="custom-form-field"
                    [class]="{'w-50': !generalService.isMobileView, 'w-100': generalService.isMobileView}"
                    [hideRequiredMarker]="true">
      <mat-label>{{'Anonymous Name' | translate}}</mat-label>
      <input matInput placeholder="{{'Anonymous Name' | translate}}" type="text" [formControlName]="'anonymousName'">
    </mat-form-field>

    <br><br><br>
    <button mat-raised-button color="primary" type="submit" [disabled]="loading"
            class="p-4"
            [class]="{'w-50': !generalService.isMobileView, 'w-100': generalService.isMobileView}">
      <span>{{'Update' | translate}}</span>
    </button>
  </form>
</div>
