.card-title-profile-dashboard {
  font-size: 14px !important;
  font-weight: 700 !important;
}

.card-subtitle-profile-dashboard {
  font-size: 12px !important;
  font-weight: 500 !important;
}

.avatar-header-image-profile-dashboard {
  background-image: url('/assets/images/avatar-09.png');
  background-size: cover;
  width: 53px;
  height: 53px;
}

.edit-img {
  position: absolute;
  top: 1rem;
  inset-inline-end: 0;
}

.border-bottom {
  border-bottom: 1px solid #E8E2E0;
}

.crown-progress {
  //display: inline-table;
}

.card-games {
  background: #F9F7F7;
  border-radius: 6px;
  border: 1px solid #E8E2E0;
  display: inline-flex;
  width: 175px;
  padding: 5px;
  margin: 5px;
}


.card-games-small {
  background: #F9F7F7;
  border-radius: 6px;
  border: 1px solid #E8E2E0;
  display: inline-flex;
  width: 115px;
  padding: 5px;
  margin: 5px;
}

.blue-button {
  //--background: #0582FE !important;
  border-radius: 6px;
  height: 45px;
  margin-bottom: 5px;
}

.invite-input {
  width: 70%;
  border-radius: 6px;
  border: 1px solid #B29F9A;
  height: 44px;
}

.answer-button {
  background: #0B6FEA !important;
  color: white !important;
}

#google_translate_element {
  display: none;
}

.gray-card-mobile {
  background: #F9F7F7 !important;
  border: 1px solid #E8E2E0 !important;
  border-radius: 25px;
  padding: 10px;
}
