<br>
<br>
<div style="display: ruby-text;">
  <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>
<div class="card border-0 p-4" *ngIf="!loading">
  <div class="d-inline-flex">
    <img src="assets/images/profile.png"
         width="35" height="35">
    <div class="font-size-16 weight-800 pt-2">&nbsp;{{'Account Overview' | translate}}</div>
  </div>
  <div class="w-100 d-flex">
    <div class="w-40 p-3" style="border-right: 1px solid #E8E2E0">
      <mat-card class="shadow-none">
        <img src="assets/images/edit-2.svg" width="16" class="edit-img" [routerLink]="'/account-info'">
        <mat-card-header class="pe-1 ps-1 border-bottom">
          <!--          <div mat-card-avatar class="avatar-header-image-profile-dashboard"></div>-->
          <img mat-card-avatar
               [src]="generalService?.userObj?.profilePicture ? generalService?.userObj?.profilePicture.startsWith('http') ? generalService?.userObj?.profilePicture : configService.url(generalService?.userObj?.profilePicture) : 'assets/images/frame.png'"
               width="35" height="35">
          <mat-card-title
            class="card-title-profile-dashboard mt-2">{{generalService?.userObj?.firstName + ' ' + generalService?.userObj?.lastName }}</mat-card-title>
          <mat-card-subtitle class="card-subtitle-profile-dashboard mt-3">
            {{generalService?.userObj?.anonymousName}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-header class="pe-1 ps-1 border-bottom position-relative">
          <mat-card-title class="card-title-profile-dashboard mb-3" style="width: 120px">Account:</mat-card-title>
          <img
            [src]="generalService?.userObj?.accountType?.icon ? configService.url(generalService?.userObj?.accountType?.icon) : 'assets/images/base.png'"
            width="38" height="38">
          <mat-label class="card-subtitle-profile-dashboard font-size-13 weight-500 text-light-color">
            &nbsp;{{generalService?.userObj?.accountType?.name}} - {{generalService?.userObj?.accountType?.expireDays}}
            Days Left
          </mat-label>
          <small style="position: absolute; bottom: 5px; left: 165px" class="text-light-color">Renew
            Automatically</small>
        </mat-card-header>
        <mat-card-header class="pe-1 ps-1" *ngIf="generalService?.userObj?.referer">
          <mat-card-title class="card-title-profile-dashboard mb-3" style="width: 120px">Referred By:</mat-card-title>
          <img src="assets/images/avatar-09.png" width="28" height="28">
          <mat-label
            class="card-subtitle-profile-dashboard text-light-color mt-2 font-size-13 weight-500 cursor-pointer"
            (click)="gotoUserDetail(generalService?.userObj?.referer?._id)">
            &nbsp;{{generalService?.userObj?.referer?.firstName + ' ' + generalService?.userObj?.referer?.lastName}}
          </mat-label>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="w-60 p-3">
      <div class="border-bottom pb-3">
        <div class="position-relative d-inline-flex" style="width: 320px">
          <img src="assets/images/crown.svg" width="36" height="36"/>
          <div style="position: absolute; bottom: 30px; width: 100%; left: 40px">
            <div class="font-size-14 weight-600 position-absolute start-0">
              Level: {{generalService?.userObj?.statistics?.level}}</div>
            <div
              class="font-size-12 weight-600 position-absolute end-0">{{generalService?.userObj?.statistics?.xpNeededForNextLevel - generalService?.userObj?.statistics?.totalXP}}
              XP till next level
            </div>
          </div>
          <mat-progress-bar
            style="width: 320px; border-radius: 10px; display: inline-table; position: absolute; bottom: 0; left: 40px"
            color="primary"
            [value]="generalService?.userObj?.statistics?.level" [bufferValue]="generalService?.userObj?.statistics?.xpNeededForNextLevel"
            mode="determinate"></mat-progress-bar>
        </div>
        <div>
          <div class="card-games position-relative">
            <img src="assets/images/flash.svg" width="24">
            <div class="font-size-12 weight-400" style="padding: 5px">Total <b class="font-size-12 weight-600">XP</b>:
            </div>
            <mat-label class="position-absolute font-size-14 weight-700"
                       style="padding: 5px;right: 5px">{{generalService?.userObj?.statistics?.totalXP}}</mat-label>
          </div>
          <div class="card-games position-relative">
            <img src="assets/images/star.svg" width="24">
            <div class="font-size-12 weight-400" style="padding: 5px">Total <b class="font-size-12 weight-600">Score</b>:
            </div>
            <mat-label class="position-absolute font-size-14 weight-700"
                       style="padding: 5px; right: 5px">{{generalService?.userObj?.statistics?.totalScore}}</mat-label>
          </div>
        </div>

        <div>
          <div class="card-games-small position-relative">
            <img src="assets/images/cup.svg" width="24">
            <div class="font-size-14 weight-700 position-absolute top-0"
                 style="padding-left: 5px; left: 30px">{{generalService?.userObj?.games?.won}}</div>
            <mat-label class="position-absolute font-size-12 weight-400 bottom-0" style="padding-left: 5px;left: 30px">
              Win
            </mat-label>
          </div>
          <div class="card-games-small position-relative">
            <img src="assets/images/message-edit.svg" width="24">
            <div class="font-size-14 weight-700 position-absolute top-0"
                 style="padding-left: 5px; left: 30px">{{generalService?.userObj?.games?.created}}</div>
            <mat-label class="position-absolute font-size-12 weight-400 bottom-0" style="padding-left: 5px;left: 30px">
              Created
            </mat-label>
          </div>
          <div class="card-games-small position-relative">
            <img src="assets/images/game.svg" width="24">
            <div class="font-size-14 weight-700 position-absolute top-0"
                 style="padding-left: 5px; left: 30px">{{generalService?.userObj?.games?.played}}</div>
            <mat-label class="position-absolute font-size-12 weight-400 bottom-0" style="padding-left: 5px;left: 30px">
              Play
            </mat-label>
          </div>
          <div class="card-games-small position-relative">
            <img src="assets/images/ranking.svg" width="24">
            <div class="font-size-14 weight-700 position-absolute top-0"
                 style="padding-left: 5px; left: 30px">{{generalService?.userObj?.games?.highScore}}</div>
            <mat-label class="position-absolute font-size-12 weight-400 bottom-0" style="padding-left: 5px;left: 30px">
              High Score
            </mat-label>
          </div>
        </div>
      </div>
      <mat-card class="shadow-none">
        <mat-card-header class="pe-1 ps-1 position-relative">
          <mat-card-title class="card-title-profile-dashboard mb-3" style="width: 120px">Coins:</mat-card-title>
          <img src="assets/images/coin-bronze.png"
               width="24" height="24">&nbsp;<span>{{generalService?.userObj?.assets?.coins?.bronze}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/coin-silver.png"
               width="24" height="24">&nbsp;<span>{{generalService?.userObj?.assets?.coins?.silver}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/coin-gold.png"
               width="24" height="24">&nbsp;<span>{{generalService?.userObj?.assets?.coins?.gold}}</span>
          <div class="link-text font-size-14 weight-500 position-absolute end-0">Financial History ></div>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
<br>
<div class="card w-50 border-0 p-4" *ngIf="!loading">
  <div class="d-inline-flex">
    <img src="assets/images/invite.png"
         width="32" height="32">
    <div class="font-size-16 weight-800 pt-2">&nbsp;{{'Invite Friends' | translate}}</div>
  </div>
  <br>
  <div class="d-inline-flex w-100">
    <form [formGroup]="inviteForm" class="w-100" (ngSubmit)="onSubmit()" autocomplete="off">
      <input matInput class="invite-input ps-2" placeholder="{{'Enter your email' | translate}}" type="email"
             [formControlName]="'email'">

      <button mat-raised-button color="primary" type="submit" [disabled]="!inviteForm.valid || loadingInvite"
              class="w-25 p-4s ms-2 blue-button">
        <span>{{'Invite' | translate}}</span>
      </button>
    </form>
  </div>
  <br>
  <div class="d-inline w-100 copy-referrer cursor-pointer" [cdkCopyToClipboard]="generalService?.userObj?.referCode">
    <div class="d-inline text-start">Referral Code</div>
    <div class="d-inline text-end float-end">
      {{generalService?.userObj?.referCode}} <i class="bi bi-copy"></i></div>
  </div>
  <br>
  <div class="font-size-14 weight-600 pt-2">&nbsp;{{'Invited Friends' | translate}}</div>

  <mat-list>
    <mat-list-item *ngFor="let invite of generalService?.userObj?.invitations">
      <div matListItemIcon style="background: #D9D9D9; border-radius: 50px; width: 40px; height: 40px; margin: 20px">
        <img src="assets/images/frame.png" width="35" style="padding-left: 5px">
      </div>
      <div matListItemTitle>{{invite?.email}}</div>
      <div matListItemLine>{{invite?.status}}</div>
    </mat-list-item>
  </mat-list>
</div>

