<app-header></app-header>
<div class="container" style="width: 35%; margin-top: 60px">
  <div class="flex-grow-1 card p-5 pb-3 border-0">
    <mat-icon class="back-btn-register" *ngIf="step !== 4" (click)="prevStep()">arrow_back_ios</mat-icon>
    <div class="text-center mb-3">
      <div class="logo radius">LOGO</div>
      <br>
      <h5>{{'Forget Password' | translate}}</h5>
    </div>
    <div *ngIf="step === 1">
      <mat-label>{{'How would you like to reset your password ?' | translate}}</mat-label>
      <br><br>
      <div class="semi-card d-flex radius p-3 position-relative" (click)="gotoStepTwo('email')">
        <mat-icon>email</mat-icon>
        <mat-label>&nbsp;{{'Reset password using' | translate}}<b> {{'E-mail address' | translate}}</b></mat-label>
        <mat-icon class="position-absolute" style="right: 5px">arrow_forward_ios</mat-icon>
      </div>
      <br>
      <div class="semi-card d-flex radius p-3 position-relative" (click)="gotoStepTwo('phone')">
        <mat-icon>{{'phone' | translate}}</mat-icon>
        <mat-label>&nbsp;{{'Reset password using' | translate}}<b> {{'phone number' | translate}}</b></mat-label>
        <mat-icon class="position-absolute" style="right: 5px">arrow_forward_ios</mat-icon>
      </div>
      <br><br>
    </div>
    <div *ngIf="step === 2">
      <div *ngIf="type === 'email'">
        <mat-label>{{'To reset your password, Enter your E-mail address and continue:' | translate}}</mat-label>
        <br><br>
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label>{{'E-mail' | translate}}</mat-label>
          <input matInput placeholder="{{'email address' | translate}}" type="email"
                 [formControl]="emailFormControl">
        </mat-form-field>&nbsp;
        <br><br>
      </div>
      <div *ngIf="type === 'phone'">
        <mat-label>{{'To reset your password, Enter your phone number and continue:' | translate}}</mat-label>
        <br><br>
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <ngx-mat-intl-tel-input
            [enablePlaceholder]="true"
            [enableSearch]="true"
            [preferredCountries]="['ir']"
            name="phone"
            [formControl]="phoneFormControl"
            (countryChanged)="countryChangedEvent($event)"></ngx-mat-intl-tel-input>
        </mat-form-field>
        <br><br>
      </div>
      <div role="alert" style="color: #ff5722; margin: 10px 0">
        {{error}}
      </div>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="(type == 'mobile' && !phoneFormControl.valid) || (type == 'email' && !emailFormControl.valid) || loading"
              class="w-100 p-4" (click)="gotoStepThree()">
        <span>{{'Reset password' | translate}}</span>
      </button>
    </div>
    <div *ngIf="step === 3">
      <form #f="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-label>Enter verification code send to you and set a new password:</mat-label>
        <br>
        <mat-icon>person</mat-icon>&nbsp;{{emailFormControl.value}} {{phoneFormControl.value}}<br><br>
        <mat-form-field appearance="outline" class="w-100 mb-2" [hideRequiredMarker]="true">
          <mat-label>Verification Code</mat-label>
          <input matInput placeholder="Verification Code" type="text" [formControlName]="'verificationCode'" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mb-2" [hideRequiredMarker]="true">
          <mat-label>New password</mat-label>
          <div class="d-inline-flex w-100">
            <input matInput placeholder="New password" [type]="hide ? 'password' : 'text'"
                   [formControlName]="'password'" required>
            <i (click)="hide = !hide" [class]="hide? 'bi-eye-slash' : 'bi-eye'"></i>
          </div>

        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mb-2" [hideRequiredMarker]="true">
          <mat-label>Retype new password</mat-label>
          <div class="d-inline-flex w-100">
            <input matInput placeholder="Retype new password" [type]="hideCopy ? 'password' : 'text'"
                   [formControlName]="'passwordConfirmation'" required>
            <i (click)="hideCopy = !hideCopy" [class]="hideCopy? 'bi-eye-slash' : 'bi-eye'"></i>
          </div>
        </mat-form-field>
        <div role="alert" style="color: #ff5722; margin: 10px 0">
          {{error}}
        </div>
        <button mat-raised-button color="primary" type="submit"
                class="w-100 p-4" [disabled]="loading">
          <span>Reset password</span>
        </button>
      </form>
    </div>
    <div *ngIf="step === 4">
      <div class="d-block text-center">
        <mat-icon>check</mat-icon>
        <h5>{{'Congratulations!' | translate}}</h5><br>
        <mat-label>
          {{'Your password has been reset successfully.' | translate}}
        </mat-label>
        <br>
        <button mat-raised-button color="primary" type="submit"
                class="w-100 p-4" [routerLink]="'/login'">
          <span>{{'Login' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
