<app-header></app-header>
<div class="container" style="width: 35%; margin-top: 60px">
  <div class="flex-grow-1 card p-5 pb-3 border-0">
    <mat-icon class="back-btn-register" *ngIf="step !== 4" (click)="prevStep()">arrow_back_ios</mat-icon>
    <div class="text-center mb-3">
      <div class="logo radius">LOGO</div>
      <br>
      <h5>Forget Password</h5>
    </div>
    <div *ngIf="step === 1">
      <mat-label>How would you like to reset your password?</mat-label>
      <br><br>
      <div class="semi-card d-flex radius p-3 position-relative" (click)="gotoStepTwo('email')">
        <mat-icon>email</mat-icon>
        <mat-label>&nbsp;Reset password using<b> E-mail address</b></mat-label>
        <mat-icon class="position-absolute" style="right: 5px">arrow_forward_ios</mat-icon>
      </div>
      <br>
      <div class="semi-card d-flex radius p-3 position-relative" (click)="gotoStepTwo('phone')">
        <mat-icon>phone</mat-icon>
        <mat-label>&nbsp;Reset password using<b> phone number</b></mat-label>
        <mat-icon class="position-absolute" style="right: 5px">arrow_forward_ios</mat-icon>
      </div>
      <br><br>
    </div>
    <div *ngIf="step === 2">
      <div *ngIf="type === 'email'">
        <mat-label>To reset your password, Enter your E-mail address and continue:</mat-label>
        <br><br>
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="email address" type="text" name="text"
                 [(ngModel)]="email" required>
        </mat-form-field>&nbsp;
        <br><br>
        <button mat-raised-button color="primary" type="submit" [disabled]="!email"
                class="w-100 p-4" (click)="gotoStepThree()">
          <span>Reset password</span>
        </button>
      </div>
      <div *ngIf="type === 'phone'">
        <mat-label>To reset your password, Enter your E-mail address and continue:</mat-label>
        <br><br>
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <ngx-mat-intl-tel-input
            [enablePlaceholder]="true"
            [enableSearch]="true"
            name="phone"
            [(ngModel)]="phone"
            (countryChanged)="countryChangedEvent($event)"></ngx-mat-intl-tel-input>
        </mat-form-field>
        <br><br>
        <button mat-raised-button color="primary" type="submit"
                class="w-100 p-4" (click)="gotoStepThree()">
          <span>Reset password</span>
        </button>
      </div>
    </div>
    <div *ngIf="step === 3">
      <form #f="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-label>Enter verification code send to you and set a new password:</mat-label>
        <br>
        <mat-icon>person</mat-icon>&nbsp;{{email}}<br><br>
        <mat-form-field appearance="outline" class="w-100 mb-2" [hideRequiredMarker]="true">
          <mat-label>Verification Code</mat-label>
          <input matInput placeholder="Verification Code" type="text" name="email"
                 [formControlName]="'verification'" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mb-2" [hideRequiredMarker]="true">
          <mat-label>New password</mat-label>
          <input matInput placeholder="New password" type="text" name="email"
                 [formControlName]="'password'" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mb-2" [hideRequiredMarker]="true">
          <mat-label>Retype new password</mat-label>
          <input matInput placeholder="Retype new password" type="text" name="email"
                 [formControlName]="'retypePassword'" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!email"
                class="w-100 p-4">
          <span>Reset password</span>
        </button>
      </form>
    </div>
    <div *ngIf="step === 4">
      <div class="d-block text-center">
        <mat-icon>check</mat-icon>
        <h5>Congratulations!</h5><br>
        <mat-label>
          Your password has been reset successfully.
        </mat-label>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="!email"
                class="w-100 p-4" [routerLink]="'/login'">
          <span>Login</span>
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
