<!--<app-header></app-header>-->
<div class="w-100">
  <br>
  <br>
  <br>
  <div class="card p-4 pb-3 border-0 login-card" [style]="generalService.isMobileView ? 'margin-top: 20px' : ''">
    <mat-icon class="back-btn-register" *ngIf="step !== 4" (click)="prevStep()">arrow_back_ios</mat-icon>
    <div class="text-center mb-3">
      <img src="https://api.staging.1qma.games/images/logo.png" width="128" height="98">
      <br>
      <div style="font-size: 16px; font-weight: 700">{{'Forget Password' | translate}}</div>
    </div>
    <br>
    <div *ngIf="step === 1">
      <mat-label
        class="font-size-14 weight-500">{{'How would you like to reset your password?' | translate}}</mat-label>
      <br><br>
      <div class="semi-card position-relative d-flex radius p-3 align-items-center" (click)="gotoStepTwo('email')">
        <img src="assets/images/sms.png" width="24" height="24">
        <mat-label class="ps-1">&nbsp;{{'Reset password using' | translate}}<b> {{'E-mail address' | translate}}</b>
        </mat-label>
        <img class="position-absolute end-10" src="assets/images/arrow-down.png" width="15">
      </div>
      <br>
      <div class="semi-card position-relative d-flex radius p-3 align-items-center" (click)="gotoStepTwo('phone')">
        <img src="assets/images/mobile.png" width="16" height="20">
        <mat-label class="ps-1">&nbsp;{{'Reset password using' | translate}}<b> {{'phone number' | translate}}</b>
        </mat-label>
        <img class="position-absolute end-10" src="assets/images/arrow-down.png" width="15">
      </div>
      <br><br>
    </div>
    <div *ngIf="step === 2">
      <div *ngIf="type === 'email'">
        <mat-label
          class="weight-500">{{'To-reset-password-Enter-E-mail' | translate}}</mat-label>
        <br><br>
        <mat-form-field appearance="fill" class="custom-form-field w-100">
          <mat-label>{{'E-mail' | translate}}</mat-label>
          <input matInput placeholder="{{'Email address' | translate}}" type="email"
                 [formControl]="emailFormControl">
        </mat-form-field>&nbsp;
      </div>
      <div *ngIf="type === 'phone'">
        <mat-label
          class="weight-500">{{'To reset your password, Enter your phone number and continue:' | translate}}</mat-label>
        <br>
        <br>
        <mat-form-field appearance="fill" class="custom-form-field w-100">
          <ngx-mat-intl-tel-input
            [enablePlaceholder]="true"
            [enableSearch]="true"
            [preferredCountries]="['ir']"
            name="phone"
            [formControl]="phoneFormControl"
            (countryChanged)="countryChangedEvent($event)"></ngx-mat-intl-tel-input>
        </mat-form-field>
      </div>
      <div *ngIf="error" role="alert" style="color: #ff5722; margin: 10px 0">
        {{error}}
      </div>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="(type == 'phone' && phoneFormControl.invalid) || (type == 'email' && !emailFormControl.valid) || loading"
              class="w-100 p-4" (click)="gotoStepThree()">
        <span>{{'Reset password' | translate}}</span>
      </button>
    </div>
    <div *ngIf="step === 3">
      <form #f="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-label class="weight-500">Set a new password for your account</mat-label>
        <br>
        <small style="color: orange">{{message}}</small>
        <br>
        <img src="assets/images/user.png" width="18" style="background: #D9D9D9; border-radius: 50px">&nbsp;&nbsp;<div
        class="d-inline-block weight-500">{{emailFormControl.value}} {{phoneFormControl.value}}</div>
        <br><br>
        <mat-form-field appearance="fill" class="custom-form-field w-100" [hideRequiredMarker]="true">
          <mat-label>Verification Code</mat-label>
          <input matInput placeholder="Verification Code" type="text" [formControlName]="'verificationCode'" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="custom-form-field w-100" [hideRequiredMarker]="true">
          <mat-label>New password</mat-label>
          <div class="d-inline-flex w-100">
            <input matInput placeholder="New password" [type]="hide ? 'password' : 'text'"
                   [formControlName]="'password'" required>
            <i (click)="hide = !hide" [class]="hide? 'bi-eye-slash' : 'bi-eye'"></i>
          </div>

        </mat-form-field>
        <mat-form-field appearance="fill" class="custom-form-field w-100 mb-2" [hideRequiredMarker]="true">
          <mat-label>{{'Retype new password' | translate}}</mat-label>
          <div class="d-inline-flex w-100">
            <input matInput placeholder="Retype new password" [type]="hideCopy ? 'password' : 'text'"
                   [formControlName]="'passwordConfirmation'" required>
            <i (click)="hideCopy = !hideCopy" [class]="hideCopy? 'bi-eye-slash' : 'bi-eye'"></i>
          </div>
        </mat-form-field>
        <div role="alert" style="color: #ff5722; margin: 10px 0">
          {{error}}
        </div>
        <button mat-raised-button color="primary" type="submit"
                class="w-100 p-4" [disabled]="loading">
          <span>{{'Reset password' | translate}}</span>
        </button>
      </form>
    </div>
    <div *ngIf="step === 4">
      <div class="d-block text-center">
        <img src="assets/images/like.png" width="127">
        <div class="font-size-16 weight-700">{{'Congratulations!' | translate}}</div>
        <br>
        <mat-label class="font-size-14 weight-500" style="color: #585858">
          {{'Your password has been reset successfully.' | translate}}
        </mat-label>
        <br>
        <br>
        <button mat-raised-button color="primary" type="submit"
                class="w-100 p-4" [routerLink]="'/login'">
          <span>{{'Login' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card border-0 text-center weight-600 pt-3 sponsor-card">
    Sponsored by: Company name
  </div>
</div>
<app-footer></app-footer>
