<br>
<br>
<div style="display: ruby-text;">
  <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>
<div *ngIf="!loading">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Questions">
      <div class="card border-0">
        <div class="w-100 d-flex">
          <mat-card class="shadow-none">
            <mat-card-header>

            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Games">
      <div class="card border-0">
        <div class="w-100 d-flex">
          <mat-card class="shadow-none">
            <mat-card-header>

            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
