<mat-toolbar class="header">
  <img src="assets/images/logo.png" width="57">
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="generalService?.hasCompletedSignup">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="generalService?.hasCompletedSignup">
    <mat-icon>card_giftcard</mat-icon>
  </button>
  <button mat-icon-button *ngIf="authService?.isLoggedIn" [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="generalService?.hasCompletedSignup">
      <mat-icon>dialpad</mat-icon>
      <span>Account Detail</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>voicemail</mat-icon>
      <span>Sign Out</span>
    </button>
  </mat-menu>
  <button mat-raised-button *ngIf="generalService?.hasCompletedSignup">
    Create game
  </button>
  <button mat-raised-button class="ms-2" *ngIf="generalService?.hasCompletedSignup">
    Find game
  </button>
  <button mat-raised-button class="ms-2" *ngIf="generalService?.hasCompletedSignup">
    Add question
  </button>

</mat-toolbar>
