<br><br>
<div class="card border-0 p-4 font-size-16 weight-600" *ngIf="generalService.userObj">
  {{'Terms Of Use' | translate}}
</div>
<br>
<div class="card border-0 p-3" *ngIf="generalService.userObj">
  <mat-card class="border-0 shadow-none">
    <mat-card-header>
      <mat-card-subtitle class="font-size-14 weight-400 text-black">Welcome to our trivia game! By using our services, you agree to the following terms:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <strong>1. Acceptance of Terms:</strong> By accessing and using our game, you accept and agree to be bound by these Terms of Use and our Privacy Policy. If you do not agree, please do not use our game.
        </mat-list-item>
        <mat-list-item>
          <strong>2. Changes to Terms:</strong> We reserve the right to modify these terms at any time. Changes will be effective immediately upon posting. Your continued use of the game signifies your acceptance of the updated terms.
        </mat-list-item>
        <mat-list-item>
          <strong>3. User Accounts:</strong> You may be required to create an account to access certain features. You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account.
        </mat-list-item>
        <mat-list-item>
          <strong>4. User Conduct:</strong> You agree to use the game for lawful purposes only. You must not engage in any behavior that is harmful, threatening, abusive, or otherwise objectionable.
        </mat-list-item>
        <mat-list-item>
          <strong>5. Intellectual Property:</strong> All content and materials within the game are the property of the game developer. You may not use, reproduce, or distribute any part of the game without our prior written consent.
        </mat-list-item>
        <mat-list-item>
          <strong>6. Termination:</strong> We reserve the right to suspend or terminate your account at any time for any reason, including violation of these terms.
        </mat-list-item>
        <mat-list-item>
          <strong>7. Disclaimer of Warranties:</strong> The game is provided "as is" without warranties of any kind. We do not guarantee the accuracy, completeness, or reliability of the game.
        </mat-list-item>
        <mat-list-item>
          <strong>8. Limitation of Liability:</strong> We are not liable for any indirect, incidental, or consequential damages arising from your use of the game.
        </mat-list-item>
      </mat-list>
      <p>
        By playing our game, you acknowledge that you have read, understood, and agree to be bound by these Terms of Use. Thank you for playing!
      </p>
    </mat-card-content>
  </mat-card>


</div>
