.game-button {
  background: #0B6FEA !important;
  width: 100% !important;
  color: white !important;
}

.bordered-card {
  min-width: 12vw;
  max-width: 12vw;
  margin: 10px 5px;
  border: 1px solid #BFAEAA !important;
  border-radius: 10px;
  padding: .5rem;
}

.bordered-card-mobile {
  min-width: 45vw;
  max-width: 45vw;
  margin: 10px 5px;
  border: 1px solid #BFAEAA !important;
  border-radius: 10px;
  padding: .5rem;
}

.next-step-shop {
  width: 196px;
  position: absolute !important;
  inset-inline-end: 16px;
  bottom: 0;
  top: 0px;
  margin: auto;
}

.button-selected {
  border: 1px solid #0B6FEA !important;
  color: #0B6FEA !important;
  font-size: 14px;
  font-weight: 600;
}

.button-not-selected {
  font-size: 14px;
  font-weight: 600;
}
