.game-button {
  background: #0B6FEA !important;
  width: 100% !important;
  color: white !important;
}

.bordered-card {
  min-width: 12vw;
  max-width: 12vw;
  margin: 10px 5px;
  border: 1px solid #BFAEAA !important;
  border-radius: 10px;
  padding: .5rem;
}
