.account-type-checked {
  border: 1px solid red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

header .logo {
  width: 100px;
  height: auto;
}

.content {
  width: 50%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

mat-form-field {
  width: 100%;
}

.footer-menu a {
  margin-right: 15px;
  color: #000;
  text-decoration: none;
}

.footer-language .form-control {
  display: inline-block;
  width: auto;
}

.copyright {
  text-align: right;
}

.cat-checked {
  border: 1px solid red;
}

.cat-not-checked {
  border: 1px solid lightgray;
}

.prev-step {
  background: white;
  color: #3e2723;
  border: 1px solid #3e2723;
}

.bullet-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-button {
  display: flex;
  justify-content: flex-end;
}

.green {
  color: #43a047;
}

#google_translate_element {
  display: none;
}

.next-step-explanation {
  position: absolute !important;
  inset-inline-end: 0;
  bottom: -40px;
  font-size: 14px;
  font-weight: 600;
}

iframe {
  border-radius: 10px;
}

