<br><br>
<div class="card border-0 p-4 font-size-16 weight-600" *ngIf="generalService.userObj">
  {{'FAQ' | translate}}
</div>
<br>
<div class="card border-0 p-5">
  <mat-accordion class="example-headers-align shadow-none position-relative w-75 m-auto"
                 *ngFor="let question of [].constructor(4); let i=index" hideToggle>
    <mat-expansion-panel class="gray-card shadow-none"
                         (opened)="panelOpenState[i] = true"
                         (closed)="panelOpenState[i] = false">
      <mat-expansion-panel-header style="height: 80px; padding-left: 0">
        <mat-panel-title>
          <mat-card class="shadow-none border-0 bg-transparent">
            <mat-card-header class="pt-0">
              <mat-card-title
                class="font-size-14 weight-600">testing...
              </mat-card-title>
            </mat-card-header>
          </mat-card>
        </mat-panel-title>
        <mat-panel-description style="min-width: 20%">
          <mat-icon class="position-absolute end-10 color-black" *ngIf="!panelOpenState[i]">add_circle
          </mat-icon>
          <mat-icon class="position-absolute end-10 color-black" *ngIf="panelOpenState[i]">remove_circle
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container-accordion">
        <div class="container-accordion-item">
         <span
           class="font-size-14 weight-400 text-gray">
           description...
         </span>
        </div>
      </div>
    </mat-expansion-panel>
    <br>
  </mat-accordion>
</div>
<app-footer *ngIf="!generalService?.hasCompletedSignup"></app-footer>
