<mat-list-item class="border-bottom" style="margin-top: 6rem;" [routerLink]="'/settings'">
  <mat-label>{{'Setting' | translate}}</mat-label>
</mat-list-item>
<mat-list-item class="border-bottom" [routerLink]="'/report-bug'">
  <mat-label>{{'Report Bug' | translate}}</mat-label>
</mat-list-item>
<mat-list-item class="border-bottom" [routerLink]="'/terms'">
  <mat-label>{{'Term Of Use' | translate}}</mat-label>
</mat-list-item>
<mat-list-item class="border-bottom" [routerLink]="'/faq'">
  <mat-label>{{'FAQ' | translate}}</mat-label>
</mat-list-item>
