<h5>
  {{'Preferences' | translate}}
</h5>
<mat-label>{{'Select at least three categories' | translate}}</mat-label>
<br>
<mat-card *ngFor="let cat of generalService?.initData?.categories | keyvalue"
          class="m-2 d-inline-block" style="flex: 1;"
          (click)="selectCat(cat.key)"
          [class]="{'cat-checked': selectedCategory.includes(cat.key), 'cat-not-checked': !selectedCategory.includes(cat.key)}">
  <mat-card-content class="text-start">
    <mat-icon>home</mat-icon>
    <mat-label>{{ cat.value }}</mat-label>
  </mat-card-content>
</mat-card>
<div role="alert" style="color: #ff5722; margin: 10px 0">
  {{error}}
</div>
<div>
  <!--  <button mat-button matStepperPrevious>{{'Back' | translate}}</button>-->
  <button mat-button [disabled]="loading || selectedCategory.length==0"
          (click)="submit()">{{'Next' | translate}}</button>
</div>
<br><br>
