<div class="font-size-14 weight-700 mt-2 ms-2">{{'Game Finished' | translate}}</div>
<div mat-dialog-content class="m-2">
  <mat-label
    style="font-size: 16px; font-weight: 600">{{'Game has been ended!' | translate}}</mat-label>
  <br>
  <mat-label
    style="font-size: 14px; font-weight: 500">{{'Unfortunately-disconnecting-more-than-2-steps' | translate}}</mat-label>
  <br>
</div>
<div mat-dialog-actions class="float-end" style="margin: 0 auto">
  <button style="width: fit-content" mat-raised-button color="primary" (click)="gotoHome()">{{'Close' | translate}}</button>
</div>
