<br>
<br *ngIf="generalService?.startingGameTutorial">
<br *ngIf="generalService?.startingGameTutorial">
<div *ngIf="generalService.gameTutorialStep == 1 && generalService.startingGameTutorial">
  <div class="card border-0" *ngIf="!loading">
    <mat-card class="shadow-none radius">
      <mat-card-header
        style="background: #E8E2E0; border: 1px solid #D7CDCA; border-top-left-radius: 6px; border-top-right-radius: 6px">
        <img mat-card-avatar src="assets/images/live.png" width="63" height="63">
        <mat-card-title class="font-size-16 weight-600">{{'Waiting Room' | translate}}</mat-card-title>
        <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
          {{'Possible description for title' | translate}}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="generalService.isMobileView">
          <mat-chip mat-raised-button color="primary" class="chip-header-category">
            <img [src]="'https://api.staging.1qma.games/' + generalService.createdGameData?.category?.icon" width="25">
            <span class="font-size-12 weight-500">{{generalService.createdGameData?.category?.name}}</span>
          </mat-chip>
          &nbsp; &nbsp;<mat-chip mat-raised-button color="primary" class="chip-header-type">
          <img src="assets/images/normal-game.png" width="25">
          <span class="font-size-12 weight-500">Normal</span>
        </mat-chip>
        </mat-card-subtitle>
      </mat-card-header>
      <div class="position-absolute top-0 bottom-0 end-10 mt-4" *ngIf="!generalService.isMobileView">
        <mat-chip mat-raised-button color="primary" class="chip-header-category">
          <img [src]="'https://api.staging.1qma.games/' + generalService.createdGameData?.category?.icon" width="25">
          <span class="font-size-12 weight-500">{{generalService.createdGameData?.category?.name}}</span>
        </mat-chip>
        &nbsp; &nbsp;<mat-chip mat-raised-button color="primary" class="chip-header-type">
        <img src="assets/images/normal-game.png" width="25">
        <span class="font-size-12 weight-500">Normal</span>
      </mat-chip>
      </div>
      <mat-card-content>
        <mat-card class="shadow-none">
          <mat-card-header>
            <mat-card-title class="font-size-16 weight-600">{{'Participants:' | translate}}</mat-card-title>
          </mat-card-header>
        </mat-card>
        <div *ngFor="let player of generalService.players" class="user-card position-relative">
          <img width="32" height="32" class="avatar-bordered bg-white"
               [src]="player?.profilePicture ? player?.profilePicture?.startsWith('http') ? player?.profilePicture : configService.url(player?.profilePicture) : 'assets/images/frame.png'"
          />
          <mat-label class="font-size-14 weight-500 m-auto">{{player?.email}}</mat-label>
          <div class="d-inline-flex position-absolute end-10" style="top: 10px">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12.7246 22.5869C18.2246 22.5869 22.7246 18.0869 22.7246 12.5869C22.7246 7.08691 18.2246 2.58691 12.7246 2.58691C7.22461 2.58691 2.72461 7.08691 2.72461 12.5869C2.72461 18.0869 7.22461 22.5869 12.7246 22.5869Z"
                stroke="#43a047" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8.47461 12.5868L11.3046 15.4168L16.9746 9.75684" stroke="#43a047" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <mat-label color="success">{{'Joined' | translate}}</mat-label>
          </div>
        </div>
        <br>
        <div [class]="{'d-inline-flex': !generalService.isMobileView, 'd-block': generalService.isMobileView}">
          <div>
            <mat-card class="shadow-none">
              <mat-card-header>
                <mat-card-title class="font-size-16 weight-600">{{'Game code:' | translate}}</mat-card-title>
              </mat-card-header>
              <mat-card-content class="d-inline-flex">
                <div class="copy-referrer cursor-pointer">
                  <div class="d-inline text-start">{{generalService.createdGameData?.code}}</div>
                </div>
                &nbsp;
                <div class="copy-referrer cursor-pointer"
                     [cdkCopyToClipboard]="generalService.createdGameData?.code">
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.8408 14.3219V17.3219C17.8408 21.3219 16.2408 22.9219 12.2408 22.9219H8.44082C4.44082 22.9219 2.84082 21.3219 2.84082 17.3219V13.5219C2.84082 9.52188 4.44082 7.92188 8.44082 7.92188H11.4408"
                      stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path
                      d="M17.8409 14.3219H14.6409C12.2409 14.3219 11.4409 13.5219 11.4409 11.1219V7.92188L17.8409 14.3219Z"
                      stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.4409 2.92188H16.4409" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"/>
                    <path d="M7.84082 5.92188C7.84082 4.26188 9.18082 2.92188 10.8408 2.92188H13.4608" stroke="#292D32"
                          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22.8408 8.92188V15.1119C22.8408 16.6619 21.5808 17.9219 20.0308 17.9219" stroke="#292D32"
                          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path
                      d="M22.8408 8.92188H19.8408C17.5908 8.92188 16.8408 8.17188 16.8408 5.92188V2.92188L22.8408 8.92188Z"
                      stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
                &nbsp;
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div style="height: 52px; margin: 0px auto 10px"
             class="card border-0 text-center weight-600 pt-3">
          Sponsored by: Company name
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <div style="height: 52px;"
       class="d-inline-block card border-0 text-center font-size-14 weight-800 pt-3 w-100">
    <mat-spinner class="d-inline-block" [diameter]="20"></mat-spinner> &nbsp;
    <mat-label
      class="d-inline-block">{{'Waiting for' | translate}} 1
      {{'of' | translate}} {{tutorialInit?.numberOfPlayers }} {{'players to join the game...' | translate}}
    </mat-label>
    <app-countdown-timer
      [style]="generalService.isMobileView ? 'position: absolute;top: -12px;inset-inline-end: 25px;' : 'position: absolute;top: 3px;inset-inline-end: 25px;'"
      [duration]="10"
      (countdownFinished)="startTutorialGame()"></app-countdown-timer>
  </div>
</div>

<div *ngIf="generalService.gameTutorialStep == 2">
  <div class="card border-0">
    <mat-card class="shadow-none radius">
      <mat-card-header
        style="background: #E8E2E0; border: 1px solid #D7CDCA; border-top-left-radius: 6px; border-top-right-radius: 6px">
        <img mat-card-avatar src="assets/images/answer-questions.png" width="63" height="63">
        <mat-card-title class="font-size-16 weight-600">{{'Answer Questions' | translate}}</mat-card-title>
        <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
          {{'Possible description for title' | translate}}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="generalService.isMobileView">
          <mat-chip mat-raised-button color="primary" class="chip-header-category">
            <img [src]="'https://api.staging.1qma.games/' + generalService.createdGameData?.category?.icon" width="25">
            <span class="font-size-12 weight-500">{{generalService.createdGameData?.category?.name}}</span>
          </mat-chip>
          &nbsp; &nbsp;<mat-chip mat-raised-button color="primary" class="chip-header-type">
          <img src="assets/images/normal-game.png" width="25">
          <span class="font-size-12 weight-500">Normal</span>
        </mat-chip>
        </mat-card-subtitle>
      </mat-card-header>
      <div class="position-absolute top-0 bottom-0 end-10 mt-4" *ngIf="!generalService.isMobileView">
        <mat-chip mat-raised-button color="primary" class="chip-header-category">
          <img [src]="'https://api.staging.1qma.games/' + generalService.createdGameData?.category?.icon" width="25">
          <span class="font-size-12 weight-500">{{generalService.createdGameData?.category?.name}}</span>
        </mat-chip>
        &nbsp; &nbsp;<mat-chip mat-raised-button color="primary" class="chip-header-type">
        <img src="assets/images/normal-game.png" width="25">
        <span class="font-size-12 weight-500">Normal</span>
      </mat-chip>
      </div>

      <mat-card-content [class]="{'p-5': !generalService.isMobileView, 'p-2': generalService.isMobileView}"
                        style="min-height: 480px">
        <div style="display: ruby-text;">
          <mat-spinner *ngIf="loading || !generalService.gameQuestion" [diameter]="30"></mat-spinner>
        </div>
        <div *ngIf="!loading && generalService.gameQuestion">
          <div class="w-100"
               [class]="{'d-inline-flex': !generalService.isMobileView, 'd-block': generalService.isMobileView}">
            <div class="gray-card p-2"
                 [style]="generalService.isMobileView ? 'width: 100px; height: 40px; margin: 0 20px 16px' : 'width: 100px; height: 40px; margin: 0 auto'">
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M17.8408 18.5899H13.8408L9.39081 21.5499C8.73081 21.9899 7.84082 21.5199 7.84082 20.7199V18.5899C4.84082 18.5899 2.84082 16.5899 2.84082 13.5899V7.58984C2.84082 4.58984 4.84082 2.58984 7.84082 2.58984H17.8408C20.8408 2.58984 22.8408 4.58984 22.8408 7.58984V13.5899C22.8408 16.5899 20.8408 18.5899 17.8408 18.5899Z"
                  stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
                <path
                  d="M12.8406 11.5205V11.3105C12.8406 10.6305 13.2607 10.2705 13.6807 9.98053C14.0907 9.70053 14.5006 9.34054 14.5006 8.68054C14.5006 7.76054 13.7606 7.02051 12.8406 7.02051C11.9206 7.02051 11.1807 7.76054 11.1807 8.68054"
                  stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.8363 13.9102H12.8453" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
              <mat-label class="ps-3">{{generalService.gameQuestion ? generalService.gameQuestion?.step : 1}}
                / {{tutorialInit?.numberOfPlayers}}</mat-label>
            </div>
            <div class="gray-card p-3" style="margin: 0 0 0 20px; width: 88%">
              <div class="d-inline-flex">
                <img src="assets/images/frame.png" width="24"/>
                <mat-label class="font-size-13  weight-500">
                  {{'Player' | translate}} {{generalService.gameQuestion ? generalService.gameQuestion?.step : 1}}</mat-label>
              </div>
              <br>
              <br>
              <mat-label class="font-size-14 weight-500 pre-line">
                {{generalService.gameQuestion?.question}}
              </mat-label>
            </div>
          </div>
          <br>
          <br>
          <br>
          <div>
            <div class="d-flex">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.9917 12.3604H14.9917" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.9917 16.3604H12.3717" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M9.9917 6.16016H13.9917C15.9917 6.16016 15.9917 5.16016 15.9917 4.16016C15.9917 2.16016 14.9917 2.16016 13.9917 2.16016H9.9917C8.9917 2.16016 7.9917 2.16016 7.9917 4.16016C7.9917 6.16016 8.9917 6.16016 9.9917 6.16016Z"
                  stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
                <path
                  d="M15.9917 4.17969C19.3217 4.35969 20.9917 5.58969 20.9917 10.1597V16.1597C20.9917 20.1597 19.9917 22.1597 14.9917 22.1597H8.9917C3.9917 22.1597 2.9917 20.1597 2.9917 16.1597V10.1597C2.9917 5.59969 4.6617 4.35969 7.9917 4.17969"
                  stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
              </svg>

              &nbsp;<div class="font-size-14 weight-600">{{'My Answer' | translate}}:</div>
            </div>
            <div class="textarea-container">
              <textarea #answerTextArea
                        [(ngModel)]="generalService.gameAnswerGeneral"
                        (ngModelChange)="updateWordCountAnswer()"></textarea>
              <div class="word-counter">{{ tutorialInit?.wordCountAnswer }} {{'Words' | translate}}</div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="generalService.gameTutorialStep == 3">
  <div class="card border-0">
    <mat-card class="shadow-none radius">
      <mat-card-header
        style="background: #E8E2E0; border: 1px solid #D7CDCA; border-top-left-radius: 6px; border-top-right-radius: 6px">
        <img mat-card-avatar src="assets/images/answer-questions.png" width="63" height="63">
        <mat-card-title class="font-size-16 weight-600">{{'Rate Answers' | translate}}</mat-card-title>
        <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
          {{'Possible description for title' | translate}}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="generalService.isMobileView">
          <mat-chip mat-raised-button color="primary" class="chip-header-category">
            <img [src]="'https://api.staging.1qma.games/' + generalService.createdGameData?.category?.icon" width="25">
            <span class="font-size-12 weight-500">{{generalService.createdGameData?.category?.name}}</span>
          </mat-chip>
          &nbsp; &nbsp;<mat-chip mat-raised-button color="primary" class="chip-header-type">
          <img src="assets/images/normal-game.png" width="25">
          <span class="font-size-12 weight-500">Normal</span>
        </mat-chip>
        </mat-card-subtitle>
      </mat-card-header>
      <div class="position-absolute top-0 bottom-0 end-10 mt-4" *ngIf="!generalService.isMobileView">
        <mat-chip mat-raised-button color="primary" class="chip-header-category">
          <img [src]="'https://api.staging.1qma.games/' + generalService.createdGameData?.category?.icon" width="25">
          <span class="font-size-12 weight-500">{{generalService.createdGameData?.category?.name}}</span>
        </mat-chip>
        &nbsp; &nbsp;<mat-chip mat-raised-button color="primary" class="chip-header-type">
        <img src="assets/images/normal-game.png" width="25">
        <span class="font-size-12 weight-500">Normal</span>
      </mat-chip>
      </div>

      <mat-card-content [class]="{'p-5': !generalService.isMobileView, 'p-2': generalService.isMobileView}"
                        style="min-height: 480px">
        <div style="display: ruby-text;">
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        </div>
        <div *ngIf="!loading">
          <div class="w-100"
               [class]="{'d-inline-flex': !generalService.isMobileView, 'd-block': generalService.isMobileView}">
            <div class="gray-card p-2"
                 [style]="generalService.isMobileView ? 'width: 100px; height: 40px; margin: 0 20px 16px' : 'width: 100px; height: 40px; margin: 0 auto'">
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M17.8408 18.5899H13.8408L9.39081 21.5499C8.73081 21.9899 7.84082 21.5199 7.84082 20.7199V18.5899C4.84082 18.5899 2.84082 16.5899 2.84082 13.5899V7.58984C2.84082 4.58984 4.84082 2.58984 7.84082 2.58984H17.8408C20.8408 2.58984 22.8408 4.58984 22.8408 7.58984V13.5899C22.8408 16.5899 20.8408 18.5899 17.8408 18.5899Z"
                  stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
                <path
                  d="M12.8406 11.5205V11.3105C12.8406 10.6305 13.2607 10.2705 13.6807 9.98053C14.0907 9.70053 14.5006 9.34054 14.5006 8.68054C14.5006 7.76054 13.7606 7.02051 12.8406 7.02051C11.9206 7.02051 11.1807 7.76054 11.1807 8.68054"
                  stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.8363 13.9102H12.8453" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
              <mat-label class="ps-3">{{generalService.gameQuestion ? generalService.gameQuestion?.step : 1}}
                / {{tutorialInit?.numberOfPlayers}}</mat-label>
            </div>
            <div class="gray-card p-3" style="margin: 0 0 0 20px; width: 88%">
              <div class="d-inline-flex">
                <img src="assets/images/frame.png" width="24"/>
                <mat-label class="font-size-13  weight-500">
                  {{'Player' | translate}} {{generalService.gameQuestion ? generalService.gameQuestion?.step : 1}}</mat-label>
              </div>
              <br>
              <br>
              <mat-label class="font-size-14 weight-500 pre-line">
                {{generalService.gameQuestion?.question}}
              </mat-label>
            </div>
          </div>
          <br>
          <br>
          <br>
          <!--         rating-->
          <div class="line-before">
            <mat-card-title class="font-size-16 weight-600">{{'Rate Answers' | translate}}</mat-card-title>
          </div>
          <br>
          <div class="w-100 position-relative">
            <mat-label style="position: absolute; inset-inline-start: 20px; top: -20px; color: #0B6FEA"
                       class="font-size-14 weight-600">{{'Excellent' | translate}}
            </mat-label>
            <div
              style="position: absolute; inset-inline-start: 30px; top: 0; bottom: 0; width: 2px; background-color: #EDF9FF;"></div>
            <!-- Vertical line -->
            <div cdkDropList (cdkDropListDropped)="drop($event)" class="example-list">
              <!--              generalService?.specificQuestionAnswers?.answers-->
              <div *ngFor="let answer of generalService?.specificQuestionAnswers?.answers; let i = index"
                   class="example-box">
                <div cdkDrag [style]="generalService.isMobileView ? 'width: 200px' : 'width: 500px'"
                     style="white-space: pre-line; border: 1px dashed #2C2523; margin: 0 auto;padding: 20px;color: #2C2523;border-radius: 10px;">
                  {{answer?.answer}}
                </div>
                <div class="rate-index">{{generalService.specificQuestionAnswers?.answers?.length - i}}</div>
                <div class="dropListButtons">
                  <button mat-fab color="primary" [disabled]="i==0"
                          (click)="moveUpAnswers(i)">
                    <svg width="18" height="18" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M19.9982 15.6366L13.4782 9.11656C12.7082 8.34656 11.4482 8.34656 10.6782 9.11656L4.1582 15.6366"
                        stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round"/>
                    </svg>
                  </button>
                  <button mat-fab color="primary"
                          (click)="moveDownAnswers(i)"
                          [disabled]="i == (generalService.specificQuestionAnswers?.answers?.length -1)">
                    <svg width="18" height="18" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M20.821 9.53711L14.301 16.0571C13.531 16.8271 12.271 16.8271 11.501 16.0571L4.98096 9.53711"
                        stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <mat-label style="position: absolute; inset-inline-start: 10px; bottom: -10px; color: #0B6FEA;"
                       class="font-size-14 weight-600">{{'Poor' | translate}}
            </mat-label>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="generalService.gameTutorialStep == 4">
  <div class="card border-0">
    <mat-card class="shadow-none radius">
      <mat-card-header
        style="background: #E8E2E0; border: 1px solid #D7CDCA; border-top-left-radius: 6px; border-top-right-radius: 6px">
        <img mat-card-avatar src="assets/images/answer-questions.png" width="63" height="63">
        <mat-card-title class="font-size-16 weight-600">{{'Rate Questions' | translate}}</mat-card-title>
        <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
          {{'Possible description for title' | translate}}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="generalService.isMobileView">
          <mat-chip mat-raised-button color="primary" class="chip-header-category">
            <img [src]="'https://api.staging.1qma.games/' + generalService.createdGameData?.category?.icon" width="25">
            <span class="font-size-12 weight-500">{{generalService.createdGameData?.category?.name}}</span>
          </mat-chip>
          &nbsp; &nbsp;<mat-chip mat-raised-button color="primary" class="chip-header-type">
          <img src="assets/images/normal-game.png" width="25">
          <span class="font-size-12 weight-500">Normal</span>
        </mat-chip>
        </mat-card-subtitle>
      </mat-card-header>
      <div class="position-absolute top-0 bottom-0 end-10 mt-4" *ngIf="!generalService.isMobileView">
        <mat-chip mat-raised-button color="primary" class="chip-header-category">
          <img [src]="'https://api.staging.1qma.games/' + generalService.createdGameData?.category?.icon" width="25">
          <span class="font-size-12 weight-500">{{generalService.createdGameData?.category?.name}}</span>
        </mat-chip>
        &nbsp; &nbsp;<mat-chip mat-raised-button color="primary" class="chip-header-type">
        <img src="assets/images/normal-game.png" width="25">
        <span class="font-size-12 weight-500">Normal</span>
      </mat-chip>
      </div>

      <mat-card-content [class]="{'p-5': !generalService.isMobileView, 'p-2': generalService.isMobileView}"
                        style="min-height: 480px">
        <div style="display: ruby-text;">
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        </div>
        <div *ngIf="!loading">
          <div class="w-100 position-relative">
            <mat-label style="position: absolute; inset-inline-start: 20px; top: -20px; color: #0B6FEA"
                       class="font-size-14 weight-600">{{'Excellent' | translate}}
            </mat-label>
            <div
              style="position: absolute; inset-inline-start: 30px; top: 0; bottom: 0; width: 2px; background-color: #EDF9FF;"></div>
            <!-- Vertical line -->
            <div cdkDropList class="example-list" (cdkDropListDropped)="dropQuestions($event)">
              <div *ngFor="let question of generalService.allQuestions; let i = index"
                   class="example-box">
                <div cdkDrag [style]="generalService.isMobileView ? 'width: 200px' : 'width: 500px'"
                     style="white-space: pre-line; border: 1px dashed #2C2523; margin: 0 auto;padding: 20px;color: #2C2523;border-radius: 10px;">
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.8408 18.5899H13.8408L9.39081 21.5499C8.73081 21.9899 7.84082 21.5199 7.84082 20.7199V18.5899C4.84082 18.5899 2.84082 16.5899 2.84082 13.5899V7.58984C2.84082 4.58984 4.84082 2.58984 7.84082 2.58984H17.8408C20.8408 2.58984 22.8408 4.58984 22.8408 7.58984V13.5899C22.8408 16.5899 20.8408 18.5899 17.8408 18.5899Z"
                      stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round"/>
                    <path
                      d="M12.8406 11.5205V11.3105C12.8406 10.6305 13.2607 10.2705 13.6807 9.98053C14.0907 9.70053 14.5006 9.34054 14.5006 8.68054C14.5006 7.76054 13.7606 7.02051 12.8406 7.02051C11.9206 7.02051 11.1807 7.76054 11.1807 8.68054"
                      stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.8363 13.9102H12.8453" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"/>
                  </svg>
                  {{question?.question}}
                </div>
                <div class="rate-index">{{generalService.allQuestions?.length - i}}</div>
                <div class="dropListButtons">
                  <button mat-fab color="primary" [disabled]="i==0" (click)="moveUpQuestions(i)">
                    <svg width="18" height="18" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M19.9982 15.6366L13.4782 9.11656C12.7082 8.34656 11.4482 8.34656 10.6782 9.11656L4.1582 15.6366"
                        stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round"/>
                    </svg>
                  </button>
                  <button mat-fab color="primary" (click)="moveDownQuestions(i)"
                          [disabled]="i == (generalService.allQuestions?.length -1)">
                    <svg width="18" height="18" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M20.821 9.53711L14.301 16.0571C13.531 16.8271 12.271 16.8271 11.501 16.0571L4.98096 9.53711"
                        stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <mat-label style="position: absolute; inset-inline-start: 10px; bottom: -10px; color: #0B6FEA;"
                       class="font-size-14 weight-600">{{'Poor' | translate}}
            </mat-label>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="card border-0" style="margin: 20px auto 20px; width: 100%"
     [class]="{'p-4': !generalService.isMobileView, 'p-2': generalService.isMobileView}"
     *ngIf="generalService.gameTutorialStep != 1 && generalService.gameTutorialStep != 5">
  <footer>
    <div style=" display: flex; justify-content: space-between; align-items: center;"
         *ngIf="generalService.startingGameTutorial"
         [style]="generalService.isMobileView ? 'margin-bottom: 20px;margin-top: 10px;' : ''">
      <div class="d-flex justify-content-start">
        <div class="position-relative">
          <div *ngFor="let ply of generalService.players; let i=index" class="d-inline-block">
            <img mat-card-avatar
                 class="avatar-bordered bg-white"
                 [src]="ply?.profilePicture ? ply?.profilePicture?.startsWith('http') ? ply?.profilePicture : configService.url(ply?.profilePicture) : 'assets/images/frame.png'"
                 width="26" height="26" class="mb-0 position-absolute custom-position-{{i}}">
          </div>
        </div>
        <mat-label class="d-inline-block"
                   style="margin-inline-start: 90px;">{{'Waiting for' | translate}} 1
          {{'of' | translate}} {{(submittedAnswer?.numberOfPlayers ? submittedAnswer?.numberOfPlayers : generalService.gameInit?.numberOfPlayers) }}
          {{'players...' | translate}}
        </mat-label>
      </div>
      <div class="next-button">
        <app-countdown-timer
          [style]="generalService.isMobileView ? 'position: absolute;top: -12px;inset-inline-end: 25px;' : ''"
          [duration]="tutorialInit?.eachStepDurationSeconds"
          (countdownFinished)="generalService.gameTutorialStep == 2 ? handleCountdownSendAnswerFinished() :
                              generalService.gameTutorialStep == 3 ? handleCountdownRatingAnswerFinished() : handleCountdownRatingQuestionsFinished()"></app-countdown-timer>
        <button mat-raised-button color="primary" class="next-step ms-3" *ngIf="!generalService.isMobileView"
                [disabled]="generalService.gameTutorialStep == 2 ?  sendAnswerDisable:
generalService.gameTutorialStep == 3 ? sendRateAnswerDisable : sendRateQuestionsDisable"
                (click)="generalService.gameTutorialStep == 2 ?  sendAnswer():
generalService.gameTutorialStep == 3 ? sendRateAnswer(true) : sendRateQuestions(true)">
          {{'Next' | translate}}
          <i *ngIf="generalService.userObj?.preferedLanguage?.code != 'fa'" class="bi bi-arrow-right"></i>
          <i *ngIf="generalService.userObj?.preferedLanguage?.code == 'fa'" class="bi bi-arrow-left"></i>
        </button>
      </div>
    </div>
    <button mat-raised-button color="primary" class="w-100"
            *ngIf="generalService.isMobileView && generalService.startingGameTutorial"
            [disabled]="generalService.gameTutorialStep == 2 ?  sendAnswerDisable:
generalService.gameTutorialStep == 3 ? sendRateAnswerDisable : sendRateQuestionsDisable"
            (click)="generalService.gameTutorialStep == 2 ?  sendAnswer():
generalService.gameTutorialStep == 3 ? sendRateAnswer(true) : sendRateQuestions(true)">
      {{'Next' | translate}}
      <i *ngIf="generalService.userObj?.preferedLanguage?.code != 'fa'" class="bi bi-arrow-right"></i>
      <i *ngIf="generalService.userObj?.preferedLanguage?.code == 'fa'" class="bi bi-arrow-left"></i>
    </button>
  </footer>
</div>

<div class="card border-0" style="margin: 20px auto; width: 100%; text-align: center; padding: 20px"
     *ngIf="!generalService?.startingGameTutorial">
  <button mat-raised-button color="primary" class="w-40" *ngIf="!generalService.startingGameTutorial"
          (click)="startTutorial()" style="margin: 0 auto">
    {{'Start Tutorial' | translate}}
  </button>
</div>

<!--result-->
<div *ngIf="generalService.gameTutorialStep == 5">
  <div class="card border-0">
    <mat-card class="shadow-none radius">
      <mat-card-header
        style="background: #E8E2E0; border: 1px solid #D7CDCA; border-top-left-radius: 6px; border-top-right-radius: 6px">
        <img mat-card-avatar src="assets/images/result.png" width="63" height="63">
        <mat-card-title class="font-size-16 weight-600">{{'Result' | translate}}</mat-card-title>
        <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
          {{'Possible description for title' | translate}}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="generalService.isMobileView">
          <mat-chip mat-raised-button color="primary" class="chip-header-category">
            <img [src]="'https://api.staging.1qma.games/' + generalService.createdGameData?.category?.icon" width="25">
            <span class="font-size-12 weight-500">{{generalService.createdGameData?.category?.name}}</span>
          </mat-chip>
          &nbsp; &nbsp;<mat-chip mat-raised-button color="primary" class="chip-header-type">
          <img src="assets/images/normal-game.png" width="25">
          <span class="font-size-12 weight-500">Normal</span>
        </mat-chip>
        </mat-card-subtitle>
      </mat-card-header>
      <div class="position-absolute top-0 bottom-0 end-10 mt-4" *ngIf="!generalService.isMobileView">
        <mat-chip mat-raised-button color="primary" class="chip-header-category">
          <img [src]="'https://api.staging.1qma.games/' + generalService.createdGameData?.category?.icon" width="25">
          <span class="font-size-12 weight-500">{{generalService.createdGameData?.category?.name}}</span>
        </mat-chip>
        &nbsp; &nbsp;<mat-chip mat-raised-button color="primary" class="chip-header-type">
        <img src="assets/images/normal-game.png" width="25">
        <span class="font-size-12 weight-500">Normal</span>
      </mat-chip>
      </div>

      <mat-card-content [class]="{'p-5': !generalService.isMobileView, 'p-2': generalService.isMobileView}"
                        style="min-height: 480px">
        <div style="display: ruby-text;">
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        </div>
        <div *ngIf="!loading">
          <div class="d-inline-flex">
            <div class="gray-card creator">
              <img class="avatar-bordered bg-white"
                   [src]="generalService.gameResult?.creator?.profilePicture ? generalService.gameResult?.creator?.profilePicture?.startsWith('http') ? generalService.gameResult?.creator?.profilePicture : configService.url(generalService.gameResult?.creator?.profilePicture) : 'assets/images/frame.png'"
                   width="40" height="40">
              &nbsp;<span
              class="font-size-14 weight-700 pe-2">{{generalService.gameResult?.creator?.firstName}} {{generalService.gameResult?.creator?.lastName}}</span>
            </div>

            <div class="d-inline-flex position-absolute end-10">
              <button style="height: 40px !important;" mat-raised-button color="primary" class="next-step ms-3"
                      (click)="newGame()">
                {{'New Game' | translate}}
              </button>

            </div>
          </div>
          <br>
          <mat-divider class="mt-3"></mat-divider>
          <br>
          <div class="w-100  text-center"
               [class]="{'d-inline-flex': !generalService.isMobileView, 'd-block': generalService.isMobileView}">
            <div class="position-relative"
                 [style]="generalService.isMobileView ? 'margin-top: 120px' : ''"
                 [class]="{'w-40': !generalService.isMobileView, 'w-100': generalService.isMobileView}">
              <!--              2-->
              <img class="avatar-bordered bg-white"
                   style="position: absolute; inset-inline-start: 100px; bottom: 80px;"
                   [src]="generalService.gameResult?.result?.scoreboard[1]?.profilePicture ? generalService.gameResult?.result?.scoreboard[1]?.profilePicture?.startsWith('http') ? generalService.gameResult?.result?.scoreboard[1]?.profilePicture : configService.url(generalService.gameResult?.result?.scoreboard[1]?.profilePicture) : 'assets/images/frame.png'"
                   width="48">
              <!--              1-->
              <img class="avatar-bordered bg-white"
                   style="position: absolute; inset-inline-start: 170px; bottom: 90px;"
                   [src]="generalService.gameResult?.result?.scoreboard[0]?.profilePicture ? generalService.gameResult?.result?.scoreboard[0]?.profilePicture?.startsWith('http') ? generalService.gameResult?.result?.scoreboard[0]?.profilePicture : configService.url(generalService.gameResult?.result?.scoreboard[0]?.profilePicture) : 'assets/images/frame.png'"
                   width="48">
              <!--              3-->
              <img class="avatar-bordered bg-white" *ngIf="generalService.gameResult?.result?.scoreboard?.length > 2"
                   style="position: absolute; inset-inline-end: 100px; bottom: 70px"
                   [src]="generalService.gameResult?.result?.scoreboard[2]?.profilePicture ? generalService.gameResult?.result?.scoreboard[2]?.profilePicture?.startsWith('http') ? generalService.gameResult?.result?.scoreboard[2]?.profilePicture : configService.url(generalService.gameResult?.result?.scoreboard[2]?.profilePicture) : 'assets/images/frame.png'"
                   width="48">

              <img src="assets/images/Leaderboards.png" width="190" height="65"
                   style="position: absolute; inset-inline-start: 50px; inset-inline-end: 50px; bottom: 20px; margin: 0 auto;"/>
            </div>
            <div [class]="{'w-60': !generalService.isMobileView, 'w-100': generalService.isMobileView}">
              <mat-card class="position-relative d-inline-flex text-start shadow-none">
                <mat-card-header>
                  <div class="position-relative" style="width: 100px">
                    <img src="assets/images/score.png"
                         width="28" height="28">&nbsp;
                    <div class="font-size-14 weight-800 position-absolute green-color"
                         style="padding-inline-start: 5px; inset-inline-start: 30px; top: -5px;">
                      +10
                    </div>
                    <mat-label class="position-absolute font-size-14 weight-500"
                               style="padding-inline-start: 5px;inset-inline-start: 30px; bottom: -5px;  color: #828282">
                      {{'Score' | translate}}
                    </mat-label>
                  </div>
                  <div class="position-relative" style="width: 100px">
                    <img src="assets/images/XP.png"
                         width="28" height="28">&nbsp;
                    <div class="font-size-14 weight-800 position-absolute green-color"
                         style="padding-inline-start: 5px; inset-inline-start: 30px; top: -5px;">
                      +10
                    </div>
                    <mat-label class="position-absolute font-size-14 weight-500"
                               style="padding-inline-start: 5px;inset-inline-start: 30px; bottom: -5px;  color: #828282">
                      {{'XP' | translate}}
                    </mat-label>&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="position-relative" style="width: 100px">
                    <img src="assets/images/coin-bronze.png"
                         width="28" height="28">&nbsp;
                    <div class="font-size-14 weight-800 position-absolute green-color"
                         style="padding-inline-start: 5px; inset-inline-start: 30px; top: -5px;">
                      +3
                    </div>
                    <mat-label class="position-absolute font-size-14 weight-500"
                               style="padding-inline-start: 5px;inset-inline-start: 30px; bottom: -5px; color: #828282">
                      {{'Bronze' | translate}}
                    </mat-label>
                  </div>
                </mat-card-header>
              </mat-card>
              <br>
              <div class="position-relative d-inline-flex m-3 radius"
                   [style]="generalService.isMobileView ? 'width: 270px' : 'width: 350px;'"
                   style="height: 80px; background-color: #EDF9FF">
                <div style="position: absolute; top: 10px;inset-inline-start: 10px; width: 100%;">
                  <div class="font-size-14 weight-600 position-absolute start-0">
                    {{'Level' | translate}}: 2
                  </div>
                  <div
                    class="font-size-12 weight-600 position-absolute"
                    style="inset-inline-end: 20px">10
                    {{'XP till next level' | translate}}
                  </div>
                </div>
                <mat-progress-bar
                  [style]="generalService.isMobileView ? 'width: 250px' : 'width: 320px;'"
                  style="border-radius: 10px; inset-inline-start: 15px; display: inline-table; position: absolute; top: 40px;"
                  color="primary"
                  [value]="(11 / 20) * 100"
                  [bufferValue]="100"
                  mode="determinate"></mat-progress-bar>
                <div
                  class="font-size-14 weight-600 position-absolute bottom-10" style="inset-inline-start: 10px">
                  {{'Total XP' | translate}}: 10
                </div>
              </div>
            </div>
          </div>
          <br>

          <mat-grid-list cols="12" rowHeight="30px" [dir]="generalService.direction">
            <mat-grid-tile class="result-grid" [colspan]="3">
              <mat-label class="font-size-14 weight-700">{{'Scoreboard' | translate}}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile class="result-grid"
                           [colspan]="12 - (5 + (generalService.gameResult?.result?.scoreboard?.length))">
              <mat-label></mat-label>
            </mat-grid-tile>
            <mat-grid-tile class="result-grid"
                           *ngFor="let col of generalService.gameResult?.result?.scoreboard; let i=index"
                           [colspan]="1">
              <mat-label class="font-size-12 weight-700">A{{i + 1}}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile class="result-grid" [colspan]="1">
              <mat-label class="font-size-12 weight-700">Q</mat-label>
            </mat-grid-tile>
            <mat-grid-tile class="result-grid" [colspan]="1">
              <mat-label class="font-size-12 weight-700">{{'Total' | translate}}</mat-label>
            </mat-grid-tile>
          </mat-grid-list>


          <!--generalService.gameResult?.result?.scoreboard-->
          <mat-grid-list *ngFor="let res of generalService.gameResult?.result?.scoreboard;let i=index"
                         [dir]="generalService.direction" cols="12" rowHeight="50px" class="gray-card mb-2">
            <img *ngIf="i == 0"
                 [style]="generalService.isMobileView ? 'margin-top: 5px' : 'position: absolute; inset-inline-start: -40px; top: 5px'"
                 src="assets/images/rank-1.png"
                 width="36">
            <!--              1-->
            <img *ngIf="i == 1"
                 [style]="generalService.isMobileView ? 'margin-top: 5px' : 'position: absolute; inset-inline-start: -40px; top: 5px'"
                 src="assets/images/rank-2.png"
                 width="36">
            <!--              3-->
            <img *ngIf="i == 2"
                 [style]="generalService.isMobileView ? 'margin-top: 5px' : 'position: absolute; inset-inline-start: -40px; top: 5px'"
                 src="assets/images/rank-3.png"
                 width="36">
            <mat-grid-tile class="result-grid" [colspan]="1"
                           [style]="generalService.isMobileView && (i + 1) <= 3 ? 'display: none' : ''">
              <mat-label>{{i + 1}}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile class="result-grid" [colspan]="1">
              <img class="avatar-bordered bg-white"
                   [src]="res?.profilePicture ? res?.profilePicture?.startsWith('http') ? res?.profilePicture : configService.url(res?.profilePicture) : 'assets/images/frame.png'"
                   width="40">
            </mat-grid-tile>
            <mat-grid-tile class="result-grid" [colspan]="3">
              <mat-label>{{res?.firstName}} {{res?.lastName}}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="12 - (7 + +generalService.gameInit?.numberOfPlayers)">
              <mat-label></mat-label>
            </mat-grid-tile>
            <mat-grid-tile class="result-grid"
                           *ngFor="let score of res?.answersRates; let i=index"
                           [colspan]="1">
              <mat-label>{{score | parsInt}}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile class="result-grid" [colspan]="1">
              <mat-label>{{res?.questionRate | parsInt}}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile class="result-grid" [colspan]="1">
              <mat-label>{{res?.totalScore | parsInt}}</mat-label>
            </mat-grid-tile>
          </mat-grid-list>
          <br>
          <br>
          <div class="w-100 d-inline-flex position-relative">
            <div class="font-size-14 weight-700">{{'Score detail' | translate}}</div>
            <div class="position-absolute end-10 d-flex align-items-center">
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M21.4746 14.1719C21.4746 19.0019 17.5546 22.9219 12.7246 22.9219C7.89461 22.9219 3.97461 19.0019 3.97461 14.1719C3.97461 9.34188 7.89461 5.42188 12.7246 5.42188C17.5546 5.42188 21.4746 9.34188 21.4746 14.1719Z"
                  stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.7246 8.92188V13.9219" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path d="M9.72461 2.92188H15.7246" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <mat-label
                class="font-size-14 weight-600">{{generalService.gameResult?.startedAt | timeDifference:generalService.gameResult?.endedAt }}</mat-label>
            </div>
          </div>
          <br>
          <br>
          <!--          generalService.gameResult?.result?.details-->
          <mat-accordion class="example-headers-align shadow-none position-relative"
                         *ngFor="let question of generalService.gameResult?.result?.details; let i=index" hideToggle>
            <div *ngIf="!generalService.isMobileView" class="accordion-num">{{i + 1}}</div>
            <mat-expansion-panel class="gray-card shadow-none"
                                 (opened)="panelOpenState[i] = true"
                                 (closed)="panelOpenState[i] = false">
              <mat-expansion-panel-header
                style="height: fit-content; padding-inline-start: 0; padding-bottom: 10px; padding-inline-end: 0">
                <mat-panel-title style="min-width: 90%">
                  <mat-card class="shadow-none border-0 bg-transparent">
                    <mat-card-header>
                      <img mat-card-avatar
                           [src]="question?.questioner?.profilePicture ? question?.questioner?.profilePicture?.startsWith('http') ? question?.questioner?.profilePicture : configService.url(question?.questioner?.profilePicture) : 'assets/images/frame.png'"
                           width="40"/>
                      <mat-card-title
                        class="font-size-14 weight-600 pb-2">{{question?.questioner?.firstName}} {{question?.questioner?.lastName}}</mat-card-title>
                      <mat-card-subtitle class="font-size-14 weight-600 pb-2">{{question?.question}}
                      </mat-card-subtitle>
                      <mat-card-subtitle>
                        <img src="assets/images/score.png" width="16"/>
                        &nbsp; {{question?.rate | parsInt}} {{'Score' | translate}}
                      </mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
                </mat-panel-title>

                <mat-panel-description>
                  <mat-icon class="color-black" *ngIf="!panelOpenState[i]">add_circle
                  </mat-icon>
                  <mat-icon class="color-black" *ngIf="panelOpenState[i]">remove_circle
                  </mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="container-accordion">
                <div
                  [class]="{'container-accordion-item': !generalService.isMobileView, 'container-accordion-item-mobile': generalService.isMobileView}"
                  *ngFor="let answer of question?.answers">
                  <div>
                    <img class="avatar-bordered bg-white"
                         [src]="answer?.answerer?.profilePicture ? answer?.answerer?.profilePicture?.startsWith('http') ? answer?.answerer?.profilePicture : configService.url(answer?.answerer?.profilePicture) : 'assets/images/frame.png'"
                         width="40" height="40">
                    &nbsp;<span
                    class="font-size-14 weight-700 pe-2"
                    [ngClass]="generalService.userObj?.preferedLanguage?.code != 'fa' ? 'exo-font' : 'peyda-font'">{{answer?.answerer?.firstName}} {{answer?.answerer?.lastName}}</span>
                    <br>
                    <br>
                    <mat-label
                      [ngClass]="generalService.userObj?.preferedLanguage?.code != 'fa' ? 'exo-font' : 'peyda-font'"
                      class="font-size-14 weight-400">{{answer?.answer}}</mat-label>
                    <br>
                    <br>
                    <img src="assets/images/score.png" width="16"/>
                    &nbsp; {{answer?.rate | parsInt}} {{'Score' | translate}}
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
            <br>
          </mat-accordion>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
