.financial-card {
  background: #F9F7F7;
  border: 1px solid #dacfcb !important;
  margin: 20px auto 0px !important;
  border-radius: 6px !important;
  width: 60%;
}

.coins-section {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.coin {
  display: flex;
  align-items: center;
  width: 35%;
}

.coin:first-child {
  justify-content: flex-end;
}

.coin:nth-child(2) {
  justify-content: center;
}

.coin:last-child {
  justify-content: flex-start;
}

