<br>
<div style="display: ruby-text;">
  <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>
<div class="card border-0">
  <div class="w-100 d-flex">
    <mat-card class="shadow-none">
      <mat-card-header>
        <div class="ms-2" style="height: 46px"></div>
        <mat-label class="font-size-16 weight-600 ms-4">{{'Financial History' | translate}}</mat-label>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<br>
<div *ngIf="!loading">
  <div class="card border-0 w-100">
    <mat-card class="shadow-none" style="height: 65px;"
              [class]="{'financial-card': !generalService.isMobileView, 'financial-card-mobile': generalService.isMobileView}">
      <mat-card-header class="pe-1 ps-1 position-relative d-flex align-items-center w-100">

        <!-- Title Section (Coins:) -->
        <mat-card-title class="card-title-profile-dashboard"
                        style="flex: 0 0 50%; text-align: start; padding-left: 1rem;">
          Coins:
        </mat-card-title>

        <!-- Coins Section -->
        <div class="coins-section d-flex" style="flex: 0 0 100%; justify-content: space-around;">

          <!-- Bronze Coins -->
          <div class="coin d-flex align-items-center">
            <img src="assets/images/coin-bronze.png" width="24" height="24">
            &nbsp;<span>{{generalService.userObj?.assets?.coins?.bronze}}</span>
          </div>

          <!-- Silver Coins -->
          <div class="coin d-flex align-items-center">
            <img src="assets/images/coin-silver.png" width="24" height="24">
            &nbsp;<span>{{generalService.userObj?.assets?.coins?.silver}}</span>
          </div>

          <!-- Gold Coins -->
          <div class="coin d-flex align-items-center">
            <img src="assets/images/coin-gold.png" width="24" height="24">
            &nbsp;<span>{{generalService.userObj?.assets?.coins?.gold}}</span>
          </div>
        </div>

      </mat-card-header>
    </mat-card>

    <div class="w-100 d-flex" *ngFor="let item of data">
      <mat-card class="shadow-none p-3"
                [class]="{'financial-card': !generalService.isMobileView, 'financial-card-mobile': generalService.isMobileView}">
        <mat-grid-list cols="12" rowHeight="40px">
          <mat-grid-tile class="result-grid-transaction text-gray" [colspan]="3">
            <mat-label class="font-size-14 weight-700">{{'Type' | translate}}:</mat-label>
          </mat-grid-tile>
          <mat-grid-tile class="result-grid-transaction" [colspan]="7">
            <mat-label class="font-size-14 weight-700">{{item?.type}}</mat-label>
          </mat-grid-tile>
          <mat-grid-tile class="result-grid-transaction text-end" [colspan]="generalService.isMobileView ? 0 : 2">
            <mat-label class="font-size-14 weight-700">{{item?.createdAt | date}}</mat-label>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="40px">
          <mat-grid-tile class="result-grid-transaction text-gray" [colspan]="3">
            <mat-label class="font-size-14 weight-700">{{'Description' | translate}}:</mat-label>
          </mat-grid-tile>
          <mat-grid-tile class="result-grid-transaction" [colspan]="9">
            <mat-label class="font-size-14 weight-700">{{item?.title}}</mat-label>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="40px">
          <mat-grid-tile class="result-grid-transaction text-gray" [colspan]="3">
            <mat-label class="font-size-14 weight-700">{{'Amount' | translate}}:</mat-label>
          </mat-grid-tile>
          <mat-grid-tile class="result-grid-transaction" [colspan]="5">
            <mat-label
              class="font-size-14 weight-700">{{item?.coinAmount?.price}} {{item?.coinAmount?.coin}}</mat-label>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="40px">
          <mat-grid-tile class="result-grid-transaction text-gray" [colspan]="3">
            <mat-label class="font-size-14 weight-700">{{'New Balance' | translate}}:</mat-label>
          </mat-grid-tile>
          <mat-grid-tile class="result-grid-transaction" [colspan]="5">
            <mat-label class="font-size-14 weight-700">430 Gold Coin</mat-label>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="40px" *ngIf="generalService.isMobileView">
          <mat-grid-tile class="result-grid-transaction text-gray" [colspan]="5">
            <mat-label class="font-size-14 weight-700">{{item?.createdAt | date}}</mat-label>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </div>
    <br>
  </div>
</div>
