@use '@angular/material' as mat;
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import 'material-icons/iconfont/material-icons.css';
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.container {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  height: 100vh; /* Adjust this according to your layout */
}

.logo {
  width: 300px;
  height: 100px;
  margin: 0 auto;
  background-color: lightgray;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  border: 1px solid gray;
}

.mediaAccounts {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: lightgray;
  display: flex;
  align-items: center; /* Vertical center */
  justify-content: space-evenly;
}

.radius {
  border-radius: 5px;
}

.country-selector {
  opacity: 1 !important;
  top: 5px !important;
}

input:not(.country-search) {
  bottom: 0px;
  left: 10px;
}

.mat-menu-content:not(:empty) {
  max-height: 250px;
}

.country-list-button {
  font-size: 0.8rem !important;
}

.vertical-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn-register {
  position: absolute;
  left: 10px;
  top: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 60px;
  z-index: 9;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #000;
  height: 160px;
  //display: flex;
  align-items: center;
  padding: 15px;

  mat-label {
    color: white
  }
}

.bottom-10{
  bottom: 10px;
}

.end-10 {
  right: 10px;
}

.w-10 {
  width: 10%;
}

.copyright {
  height: 30px;
  text-align: center;
  color: white;
  background: #333;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.invalid-input {
  border: 1px solid red;
}

