<br>
<br>
<div style="display: ruby-text;">
  <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>
<div *ngIf="!loading">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Overview">
      <div class="card border-0">
        <div class="w-100 d-flex">
          <mat-card class="shadow-none">
            <mat-card-header>
              <img mat-card-avatar src="assets/images/scoreboard.png" width="45" height="45">
              <mat-card-title class="font-size-16 weight-600">{{'Scoreboard' | translate}}</mat-card-title>
              <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
                {{'See your performance in the latest games' | translate}}
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Create New Game">
      <div class="card border-0" *ngIf="createGameStep == 1">
        <div class="w-100 d-flex">
          <mat-card class="shadow-none">
            <mat-card-header>
              <img mat-card-avatar src="assets/images/Joystick.png" width="45" height="45">
              <mat-card-title class="font-size-16 weight-600">{{'Create Game' | translate}}</mat-card-title>
              <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
                {{'Create the game based on your preferences' | translate}}
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <mat-card class="shadow-none game-type-card">
          <mat-card-header>
            <img mat-card-avatar src="assets/images/full-control.png" width="45" height="45">
            <mat-card-title class="font-size-16 weight-600">{{'I’m Ready' | translate}}</mat-card-title>
            <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
              {{'System choose: ' | translate}} <span class="font-size-14 weight-600">Topic + Players</span>
            </mat-card-subtitle>
          </mat-card-header>
          <button mat-raised-button color="primary" class="next-step-game"
                  (click)="gotoStepTwo(0)">
            {{'Create Game' | translate}}
            <i class="bi bi-arrow-right"></i>
          </button>
        </mat-card>
        <mat-card class="shadow-none game-type-card">
          <mat-card-header>
            <img mat-card-avatar src="assets/images/Account-type.png" width="45" height="45">
            <mat-card-title class="font-size-16 weight-600">{{'Topic By Me' | translate}}</mat-card-title>
            <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
              {{'I choose: ' | translate}} <span class="font-size-14 weight-600">Topic</span>
              &nbsp;&nbsp; {{'System choose: ' | translate}} <span class="font-size-14 weight-600">Players</span>
            </mat-card-subtitle>
          </mat-card-header>
          <button mat-raised-button color="primary" class="next-step-game" (click)="gotoStepTwo(1)">
            {{'Create Game' | translate}}
            <i class="bi bi-arrow-right"></i>
          </button>
        </mat-card>
        <mat-card class="shadow-none game-type-card">
          <mat-card-header>
            <img mat-card-avatar src="assets/images/players.png" width="45" height="45">
            <mat-card-title class="font-size-16 weight-600">{{'Players By Me' | translate}}</mat-card-title>
            <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
              {{'I choose: ' | translate}} <span class="font-size-14 weight-600">Players</span>
              &nbsp;&nbsp; {{'System choose: ' | translate}} <span class="font-size-14 weight-600">Topic</span>
            </mat-card-subtitle>
          </mat-card-header>
          <button mat-raised-button color="primary" class="next-step-game" (click)="gotoStepTwo(2)">
            {{'Create Game' | translate}}
            <i class="bi bi-arrow-right"></i>
          </button>
        </mat-card>
        <mat-card class="shadow-none game-type-card">
          <mat-card-header>
            <img mat-card-avatar src="assets/images/players.png" width="36" height="36">
            <img mat-card-avatar src="assets/images/Account-type.png" width="36" height="36">
            <mat-card-title class="font-size-16 weight-600">{{'I’m In Full Control' | translate}}</mat-card-title>
            <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
              {{'I choose: ' | translate}} <span class="font-size-14 weight-600">Topic + Players</span>
            </mat-card-subtitle>
          </mat-card-header>
          <button mat-raised-button color="primary" class="next-step-game" (click)="gotoStepTwo(3)">
            {{'Create Game' | translate}}
            <i class="bi bi-arrow-right"></i>
          </button>
        </mat-card>
        <br>
        <br>
      </div>
      <div class="card border-0" *ngIf="createGameStep == 2">
        <div class="w-100 d-flex">
          <mat-card class="shadow-none">
            <mat-card-header *ngIf="selectedGameMode == 0">
              <img src="assets/images/arrow-left.svg" width="24" height="24"
                   (click)="resetData(); createGameStep =1"
                   style="position: absolute; left: 10px; top: 0; bottom: 0; margin: auto;">
              <img mat-card-avatar src="assets/images/full-control.png" width="42" height="42" class="ms-4">
              <mat-card-title class="font-size-16 weight-600">{{'I’m Ready' | translate}}</mat-card-title>
              <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
                {{'System choose: ' | translate}} <span class="font-size-14 weight-600">Topic + Players</span>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-header *ngIf="selectedGameMode == 1">
              <img src="assets/images/arrow-left.svg" width="24" height="24"
                   (click)="resetData(); createGameStep =1"
                   style="position: absolute; left: 10px; top: 0; bottom: 0; margin: auto;">
              <img mat-card-avatar src="assets/images/Account-type.png" width="42" height="42" class="ms-4">
              <mat-card-title class="font-size-16 weight-600">{{'Topic By Me' | translate}}</mat-card-title>
              <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
                {{'I choose: ' | translate}} <span class="font-size-14 weight-600">Topic</span>
                &nbsp;&nbsp; {{'System choose: ' | translate}} <span class="font-size-14 weight-600">Players</span>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-header *ngIf="selectedGameMode == 2">
              <img src="assets/images/arrow-left.svg" width="24" height="24"
                   (click)="resetData(); createGameStep =1"
                   style="position: absolute; left: 10px; top: 0; bottom: 0; margin: auto;">
              <img mat-card-avatar src="assets/images/players.png" width="42" height="42" class="ms-4">
              <mat-card-title class="font-size-16 weight-600">{{'Players By Me' | translate}}</mat-card-title>
              <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
                {{'I choose: ' | translate}} <span class="font-size-14 weight-600">Players</span>
                &nbsp;&nbsp; {{'System choose: ' | translate}} <span class="font-size-14 weight-600">Topic</span>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-header *ngIf="selectedGameMode == 3">
              <img src="assets/images/arrow-left.svg" width="24" height="24"
                   (click)="resetData(); createGameStep =1"
                   style="position: absolute; left: 10px; top: 0; bottom: 0; margin: auto;">
              <img mat-card-avatar class="ms-4" src="assets/images/players.png" width="36" height="36">
              <img mat-card-avatar src="assets/images/Account-type.png" width="36" height="36">
              <mat-card-title class="font-size-16 weight-600">{{'I’m In Full Control' | translate}}</mat-card-title>
              <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
                {{'I choose: ' | translate}} <span class="font-size-14 weight-600">Topic + Players</span>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <br>
      <div class="card border-0" *ngIf="createGameStep == 2">
        <div class="w-100 d-flex">
          <mat-card class="shadow-none">
            <mat-card-header class="m-3">
              <mat-card-title class="font-size-16 weight-700">{{'Game Type' | translate}}</mat-card-title>
              <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
                {{'Choose game type' | translate}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-card class="m-2 d-inline-block shadow-none cursor-pointer"
                        *ngFor="let gType of generalService?.gameInit?.gameTypes"
                        (click)="selectGameType(gType.id)"
                        [class]="{'mat-card-game-type-selected': isSelectedGameType(gType.id), 'mat-card-game-type': !isSelectedGameType(gType.id)}">
                <mat-card-content class="text-start">
                  <img src="assets/images/normal-game.png" *ngIf="gType.id == 'normal'" width="35">
                  <img src="assets/images/survival-game.png" *ngIf="gType.id == 'survival'" width="35">
                  <mat-label class="position-absolute font-size-14 weight-600"
                             style="top: 10px; left: 60px">{{gType?.text}}
                  </mat-label>
                  <br>
                  <mat-label *ngIf="gType.id == 'normal'" class="font-size-14 weight-500 position-absolute"
                             style="top: 30px; left: 60px; color: #585858">
                    {{'Description about normal game' | translate}}
                  </mat-label>
                  <mat-label *ngIf="gType.id == 'survival'" class="font-size-14 weight-500 position-absolute"
                             style="top: 30px; left: 60px; color: #585858">
                    {{'Description about survival game' | translate}}
                  </mat-label>
                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <br>
      <!--      category-->
      <div class="card border-0" *ngIf="createGameStep == 2 && (selectedGameMode == 0 || selectedGameMode ==2)">
        <div class="w-100 d-flex">
          <mat-card class="shadow-none">
            <mat-card-header class="m-3">
              <mat-card-title class="font-size-16 weight-700">{{'Game Category' | translate}}</mat-card-title>
              <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
                {{'Game category' | translate}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-card class="m-2 d-inline-block shadow-none mat-card-pref">
                <mat-card-content class="text-start">
                  <img [src]="'https://api.staging.1qma.games/' + selectedCategory[0]?.icon" width="35">
                  <mat-label>{{ selectedCategory[0].name }}</mat-label>
                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


      <div class="card border-0" *ngIf="createGameStep == 2 && (selectedGameMode == 1 || selectedGameMode ==3)">
        <div class="w-100 d-flex">
          <mat-card class="shadow-none">
            <mat-card-header class="m-3">
              <mat-card-title class="font-size-16 weight-700">{{'Game Category' | translate}}</mat-card-title>
              <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
                {{'Choose game category' | translate}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-card *ngFor="let cat of generalService?.gameInit?.categories"
                        class="m-2 d-inline-block shadow-none cursor-pointer"
                        (click)="selectCat(cat)"
                        [class]="{'mat-card-pref-selected': isSelected(cat), 'mat-card-pref': !isSelected(cat)}">
                <mat-card-content class="text-start">
                  <img [src]="'https://api.staging.1qma.games/' + cat?.icon" width="35">
                  <mat-label>{{ cat.name }}</mat-label>
                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <br>

      <!--question and answer-->
      <div class="card border-0" *ngIf="createGameStep == 2">
        <div class="w-100 d-flex">
          <mat-card class="shadow-none">
            <mat-card-header class="m-3">
              <mat-card-title class="font-size-16 weight-700">{{'Question and Answer' | translate}}</mat-card-title>
              <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
                {{'Write your question and answer for the game' | translate}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="width: 1000px; margin-top: 30px">
              <form #f="ngForm" [formGroup]="questionForm" autocomplete="off">
                <div class="d-flex">
                  <!--                  <img src="assets/images/message-question.svg" width="24">-->
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.8408 18.5899H13.8408L9.39081 21.5499C8.73081 21.9899 7.84082 21.5199 7.84082 20.7199V18.5899C4.84082 18.5899 2.84082 16.5899 2.84082 13.5899V7.58984C2.84082 4.58984 4.84082 2.58984 7.84082 2.58984H17.8408C20.8408 2.58984 22.8408 4.58984 22.8408 7.58984V13.5899C22.8408 16.5899 20.8408 18.5899 17.8408 18.5899Z"
                      stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round"/>
                    <path
                      d="M12.8406 11.5205V11.3105C12.8406 10.6305 13.2607 10.2705 13.6807 9.98053C14.0907 9.70053 14.5006 9.34054 14.5006 8.68054C14.5006 7.76054 13.7606 7.02051 12.8406 7.02051C11.9206 7.02051 11.1807 7.76054 11.1807 8.68054"
                      stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.8363 13.9102H12.8453" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"/>
                  </svg>

                  &nbsp;<div class="font-size-14 weight-600">My Question:</div>
                  <div class="font-size-14 weight-600 cursor-pointer" (click)="openImportFromLib()"
                       style="text-align: right; flex: 1; color: #0B6FEA"><i class="bi bi-plus"></i>
                    Import from
                    library
                  </div>
                </div>
                <div class="textarea-container">
                  <textarea [formControlName]="'question'" (ngModelChange)="updateWordCount()"></textarea>
                  <div class="word-counter">{{ wordCount }} Words</div>
                </div>
                <div>
                  <div class="d-flex">
                    <!--                    <img src="assets/images/clipboard-text.svg" width="24">-->
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.9917 12.3604H14.9917" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M7.9917 16.3604H12.3717" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round"/>
                      <path
                        d="M9.9917 6.16016H13.9917C15.9917 6.16016 15.9917 5.16016 15.9917 4.16016C15.9917 2.16016 14.9917 2.16016 13.9917 2.16016H9.9917C8.9917 2.16016 7.9917 2.16016 7.9917 4.16016C7.9917 6.16016 8.9917 6.16016 9.9917 6.16016Z"
                        stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round"/>
                      <path
                        d="M15.9917 4.17969C19.3217 4.35969 20.9917 5.58969 20.9917 10.1597V16.1597C20.9917 20.1597 19.9917 22.1597 14.9917 22.1597H8.9917C3.9917 22.1597 2.9917 20.1597 2.9917 16.1597V10.1597C2.9917 5.59969 4.6617 4.35969 7.9917 4.17969"
                        stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round"/>
                    </svg>

                    &nbsp;<div class="font-size-14 weight-600">My Answer:</div>
                  </div>
                  <div class="textarea-container">
                    <textarea [formControlName]="'answer'" (ngModelChange)="updateWordCountAnswer()"></textarea>
                    <div class="word-counter">{{ wordCountAnswer }} Words</div>
                  </div>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <!--      //invite-->
      <div class="card border-0" *ngIf="createGameStep == 2 && (selectedGameMode == 2 || selectedGameMode ==3)">
        <mat-card class="shadow-none">
          <mat-card-header class="m-3">
            <mat-card-title class="font-size-16 weight-700">{{'Players' | translate}}</mat-card-title>
            <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
              {{'Invite friends to the game' | translate}}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="d-inline-flex w-50 m-4">
          <form [formGroup]="inviteForm" class="w-100" (ngSubmit)="onSubmitInvite()">
            <mat-form-field appearance="outline" style="width: 73%; height: 47px">
              <input matInput class="invite-input ps-2" placeholder="{{'Email address' | translate}}" type="email"
                     [formControlName]="'email'" [matAutocomplete]="auto" (input)="getResultOfSearch()">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let suggestion of filteredEmails" [value]="suggestion.email">
                  {{ suggestion?.email }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button mat-raised-button type="submit"
                    class="w-25 p-4 ms-2 invite-button">
              <span>{{'Invite' | translate}}</span>
            </button>
          </form>
        </div>
        <div class="d-inline-flex">
          <div *ngFor="let ivt of invitedArray" class="invite-card m-3">
            <img src="assets/images/avatar-09.png" width="32" height="32"/>
            <mat-label class="font-size-14 weight-500 m-auto">{{ivt}}</mat-label>
            &nbsp;&nbsp;
            <!--            <img src="assets/images/add.svg" *ngIf="ivt !== generalService?.userObj?.email"-->
            <!--                             (click)="removeInvite(ivt)"/>-->
            <svg width="24" height="24" *ngIf="ivt !== generalService?.userObj?.email" (click)="removeInvite(ivt)"
                 viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.4819 21.4023L21.9672 12.9171" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"/>
              <path d="M21.9672 21.4032L13.4819 12.918" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div>
      <br>
      <div class="card border-0" *ngIf="createGameStep == 2">
        <mat-card class="shadow-none">
          <mat-card-header class="m-3 pt-0">
            <mat-card-title class="font-size-16 weight-700">{{'Game Creation Price: ' | translate}}
              <img src="assets/images/coin-bronze.png" width="24"/>
              &nbsp; {{generalService?.gameInit?.gamePrice?.count}} {{generalService?.gameInit?.gamePrice?.coin}}
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <br>
      <div class="card border-0" *ngIf="createGameStep == 2">
        <mat-card class="shadow-none">
          <mat-card-header>
            <!--            <img mat-card-avatar src="assets/images/wallet-minus.svg" style="width: 24px; height: 24px">-->
            <svg style="width: 24px; height: 24px" mat-card-avatar width="25" height="25" viewBox="0 0 25 25"
                 fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1626 16.3145H10.1626" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                    stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M13.5608 2.83454L13.5308 2.90454L10.6308 9.63454H7.78084C7.10084 9.63454 6.45084 9.77454 5.86084 10.0245L7.61084 5.84454L7.65084 5.74454L7.72084 5.58454C7.74084 5.52454 7.76084 5.46454 7.79084 5.41454C9.10084 2.38454 10.5808 1.69454 13.5608 2.83454Z"
                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M18.9509 9.83496C18.5009 9.69496 18.0209 9.63496 17.5409 9.63496H10.6309L13.5309 2.90496L13.5609 2.83496C13.7109 2.88496 13.8509 2.95496 14.0009 3.01496L16.2109 3.94496C17.4409 4.45496 18.3009 4.98496 18.8209 5.62496C18.9209 5.74496 19.0009 5.85496 19.0709 5.98496C19.1609 6.12496 19.2309 6.26496 19.2709 6.41496C19.3109 6.50496 19.3409 6.59496 19.3609 6.67496C19.6309 7.51496 19.4709 8.54496 18.9509 9.83496Z"
                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M22.4226 14.5148V16.4648C22.4226 16.6648 22.4126 16.8648 22.4026 17.0648C22.2126 20.5548 20.2626 22.3148 16.5626 22.3148H8.7626C8.5226 22.3148 8.2826 22.2948 8.0526 22.2648C4.8726 22.0548 3.1726 20.3548 2.9626 17.1748C2.9326 16.9448 2.9126 16.7048 2.9126 16.4648V14.5148C2.9126 12.5048 4.1326 10.7748 5.8726 10.0248C6.4726 9.77477 7.1126 9.63477 7.7926 9.63477H17.5526C18.0426 9.63477 18.5226 9.70477 18.9626 9.83477C20.9526 10.4448 22.4226 12.3048 22.4226 14.5148Z"
                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M7.61088 5.84473L5.86088 10.0247C4.12088 10.7747 2.90088 12.5047 2.90088 14.5147V11.5847C2.90088 8.74473 4.92088 6.37473 7.61088 5.84473Z"
                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M22.4195 11.5841V14.5141C22.4195 12.3141 20.9595 10.4441 18.9595 9.84406C19.4795 8.54406 19.6295 7.52406 19.3795 6.67406C19.3595 6.58406 19.3295 6.49406 19.2895 6.41406C21.1495 7.37406 22.4195 9.34406 22.4195 11.5841Z"
                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <mat-card-title class="font-size-12 weight-600"
                            style="color: #585858">{{'My Balance' | translate}}</mat-card-title>
            <mat-card-subtitle class="font-size-14 weight-600 mt-2">
              {{'430 Bronze' | translate}}
            </mat-card-subtitle>
          </mat-card-header>
          <button mat-raised-button color="primary" class="next-step-game"
                  [disabled]="loadingCreateGame || !questionForm.valid || !selectedGameMode.toString() || !selectedGameType[0] ||
                   ((selectedGameMode == 1 || selectedGameMode ==3) && !selectedCategory[0]) ||
                    ((selectedGameMode == 2 || selectedGameMode ==3) && invitedArray.length !== 4)"
                  (click)="startingGame()">
            {{'Create Game' | translate}}
            <i class="bi bi-arrow-right"></i>
          </button>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Find Game">
      <div class="card border-0" *ngIf="findFriendStep == 1">
        <div class="w-100 d-flex">
          <mat-card class="shadow-none">
            <mat-card-header>
              <img mat-card-avatar src="assets/images/scoreboard.png" width="45" height="45">
              <mat-card-title class="font-size-16 weight-600">{{'Find Game' | translate}}</mat-card-title>
              <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
                {{'Find and join games created by others' | translate}}
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <mat-card class="shadow-none game-type-card p-4">
          <mat-card-header>
            <img mat-card-avatar src="assets/images/join-game.png" width="45" height="45">
            <mat-card-title class="font-size-16 weight-600">{{'Join with Code' | translate}}</mat-card-title>
            <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
              {{'Enter with code and join: ' | translate}}
            </mat-card-subtitle>
          </mat-card-header>
          <div class="d-inline-flex w-50 find-game-div">
            <input matInput class="invite-input ps-2" [(ngModel)]="gameCode"
                   placeholder="{{'Enter a code' | translate}}" type="email">
            <button mat-raised-button color="primary" type="submit" [disabled]="!gameCode || loadingJoinWithCode"
                    class="w-25 p-4s ms-2 blue-button" (click)="joinToGame()">
              <span>{{'Invite' | translate}}</span>
            </button>
          </div>
        </mat-card>
        <mat-card class="shadow-none game-type-card p-4">
          <mat-card-header>
            <img mat-card-avatar src="assets/images/find-user-game.png" width="45" height="45">
            <mat-card-title class="font-size-16 weight-600">{{'Find friend\'s games' | translate}}</mat-card-title>
            <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
              {{'Enter email or username and join games: ' | translate}}
            </mat-card-subtitle>
          </mat-card-header>
          <div class="d-inline-flex w-50 find-game-div">
            <input matInput class="invite-input ps-2" [(ngModel)]="userEmail"
                   placeholder="{{'Enter user email' | translate}}" type="email">
            <button mat-raised-button color="primary" type="submit"
                    class="w-25 p-4s ms-2 blue-button" (click)="findFriendGame()"
                    [disabled]="!userEmail || loadingFindFriend">
              <span>{{'Invite' | translate}}</span>
            </button>
          </div>
        </mat-card>
        <br>
        <br>
      </div>
      <div class="card border-0" *ngIf="findFriendStep == 2">
        <div class="w-100 d-flex">
          <mat-card class="shadow-none">
            <mat-card-header>
              <img src="assets/images/arrow-left.svg" width="24" height="24"
                   (click)="findFriendStep =1" style="position: absolute; left: 10px; top: 0; bottom: 0; margin: auto;">
              <img mat-card-avatar src="assets/images/find-user-game.png" width="46" height="46" class="ms-4">
              <mat-card-title class="font-size-16 weight-700">{{'User Games' | translate}}</mat-card-title>
              <mat-card-subtitle class="font-size-14 weight-500 mt-2" style="color: #585858">
                {{'List of user games: ' | translate}}
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <br>
      <div class="card border-0" *ngIf="findFriendStep == 2">
        <div class="w-100 d-flex">
          <mat-card class="shadow-none">
            <div class="radius-gary-card">
              <span class="font-size-16 weight-600 m-auto">Games by: </span>
              <div class="d-inline-flex m-auto ms-2">
                <img
                  [src]="findFriendGameData?.friend?.profilePicture ? findFriendGameData?.friend?.profilePicture?.startsWith('http') ? findFriendGameData?.friend?.profilePicture : configService.url(findFriendGameData?.friend?.profilePicture) : 'assets/images/frame.png'"
                  width="40" height="40">
                <span
                  class="font-size-14 weight-500 text-light-color m-auto">
                  &nbsp;{{findFriendGameData?.friend?.firstName}} {{findFriendGameData?.friend?.lastName}}
                </span>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="border-0 p-4 font-size-14 weight-600" *ngIf="findFriendGameData?.liveGames.length">
          Ongoing Games
        </div>
        <div class="card-container">
          <mat-card *ngFor="let liveGame of findFriendGameData?.liveGames"
                    class="bordered-card shadow-none text-center">
            <img src="assets/images/survival-game.png" width="50" height="50" style="margin: 0 auto">
            <mat-card-header style="margin: 0 auto">
              <mat-card-title class="font-size-14 weight-700">Environment</mat-card-title>
              <mat-card-subtitle class="font-size-12 weight-500">
                <mat-chip [ngStyle]="{'background-color': '#F0FEEF'}">
                  <svg width="10" height="10" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12.8809" cy="12.3311" r="12" fill="#43a047"/>
                  </svg>
                  <mat-label color="green" class="font-size-12 weight-500">Live</mat-label>
                </mat-chip>
              </mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content class="d-inline-flex position-relative p-0">
              <img mat-card-avatar src="assets/images/frame.png"
                   width="33" height="33" class="mb-0">
              <mat-card-title class="font-size-10 weight-500 ms-1">Created By:</mat-card-title>
              <mat-card-subtitle class="position-absolute bottom-0" style="left: 45px">
                <span
                  class="font-size-14 weight-500">{{liveGame?.creator?.firstName}} {{liveGame?.creator?.lastName}}</span>
              </mat-card-subtitle>
            </mat-card-content>
            <mat-divider></mat-divider>
            <div class="position-relative">
              <div class="font-size-14 weight-500 p-2 text-start">
                <div *ngFor="let ply of liveGame?.players; let i=index" class="d-inline-block">
                  <img mat-card-avatar
                       [src]="ply?.profilePicture ? ply?.profilePicture?.startsWith('http') ? ply?.profilePicture : configService.url(ply?.profilePicture) : 'assets/images/frame.png'"
                       width="26" height="26" class="mb-0 position-absolute custom-position-{{i}}">
                </div>
              </div>
              <div class="font-size-14 weight-500 p-2 text-end">
                 <span class="font-size-14 weight-500 position-absolute bottom-0"
                       style="right: 5px">{{liveGame?.gameType?.text}}</span>
                <img src="assets/images/normal-game.png" *ngIf="liveGame?.gameType?.id == 'normal'" width="22"
                     height="22"
                     class="mb-0 position-absolute" style="top: 25px; right: 55px">
                <img src="assets/images/survival-game.png" *ngIf="liveGame?.gameType?.id == 'survival'"
                     width="22" height="22"
                     class="mb-0 position-absolute" style="top: 25px; right: 55px">
              </div>
            </div>
            <br>
            <span class="font-size-11 weight-500 text-start">Waiting for 1/5 player</span>
            <br>
            <mat-card-actions>
              <button mat-raised-button class="game-button"
                      (click)="joinToGame(liveGame.code)">{{'Join Game' | translate}}
              </button>
            </mat-card-actions>
          </mat-card>
        </div>

        <!--        finished games-->
        <div class="border-0 p-4 font-size-14 weight-600" *ngIf="findFriendGameData?.endedGames.length">
          Finished Games
        </div>
        <div class="card-container">
          <mat-card *ngFor="let endedGame of findFriendGameData?.endedGames"
                    class="bordered-card shadow-none text-center">
            <img src="assets/images/survival-game.png" width="50" height="50" style="margin: 0 auto">
            <mat-card-header style="margin: 0 auto">
              <mat-card-title class="font-size-14 weight-700">Environment</mat-card-title>
              <mat-card-subtitle class="font-size-12 weight-500">
                2 days ago
              </mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content class="d-inline-flex position-relative p-0">
              <mat-card class="shadow-none">
                <mat-card-header class="pe-1 ps-1">
                  <img mat-card-avatar src="assets/images/frame.png"
                       width="33" height="33" class="mb-0">
                  <mat-card-title class="font-size-14 weight-500 text-start">Susan</mat-card-title>
                  <mat-card-subtitle>
                    <img src="assets/images/rank.png" width="16"><span class="font-size-14 weight-700">1 </span><span
                    class="font-size-14 weight-500"> Rank</span>
                    <img src="assets/images/score.png" width="16"><span class="font-size-14 weight-700">1 </span><span
                    class="font-size-14 weight-500"> Score</span>
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </mat-card-content>
            <mat-divider></mat-divider>
            <div class="position-relative">
              <div class="font-size-14 weight-500 p-2 text-start">
                <div *ngFor="let img of findFriendGameData?.endedGames?.players; let i=index" class="d-inline-block">
                  <img mat-card-avatar src="assets/images/frame.png"
                       width="26" height="26" class="mb-0 position-absolute custom-position-{{i}}">
                </div>
              </div>
              <div class="font-size-14 weight-500 p-2 text-end">
                <img src="assets/images/survival-game.png" width="22" height="22"
                     class="mb-0 position-absolute end-0" style="top: 25px">
                <span class="font-size-14 weight-500 position-absolute bottom-0"
                      style="right: 20px">Servival</span>
              </div>
            </div>
            <br>
            <span class="font-size-11 weight-500 text-start">5 player</span>
            <br>
            <mat-card-actions>
              <button mat-raised-button class="game-button">{{'Game Detail' | translate}}
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<br>

