<div class="font-size-14 weight-700 p-2 border-bottom">
  <!--  <img src="assets/images/add.svg" (click)="closeModal()" width="24">-->
  <svg (click)="closeModal()" width="24" height="24" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M13.4819 21.4023L21.9672 12.9171" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"/>
    <path d="M21.9672 21.4032L13.4819 12.918" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"/>
  </svg>
  &nbsp;{{'Import from library' | translate}}
</div>
<div mat-dialog-content>
  <div class="gray-card">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group-library"
                   [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="ngOnInit()">
      <mat-tab label="Private Library">
      </mat-tab>
      <mat-tab label="Public Library">
      </mat-tab>
      <mat-tab label="Bookmarked">
      </mat-tab>
    </mat-tab-group>
  </div>
  <br>
  <div class="d-flex position-relative">
    <input matInput class="invite-input ps-5" [(ngModel)]="search" (input)="ngOnInit()"
           placeholder="{{'Search' | translate}}" type="text">
    <svg class="position-absolute top-0 bottom-0 start-0" style="margin: auto 5px" width="25" height="25"
         viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M12.2246 21.2402C17.4713 21.2402 21.7246 16.9869 21.7246 11.7402C21.7246 6.49353 17.4713 2.24023 12.2246 2.24023C6.9779 2.24023 2.72461 6.49353 2.72461 11.7402C2.72461 16.9869 6.9779 21.2402 12.2246 21.2402Z"
        stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M22.7246 22.2402L20.7246 20.2402" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round"/>
    </svg>
  </div>
  <br>
  <div style="display: ruby-text;">
    <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
  </div>
  <!--  private-->
  <div *ngIf="selectedTabIndex == 0">
    <div *ngFor="let item of library?.questions" class="gray-card p-4 mb-2">
      <div class="d-flex white-card position-relative">
        <img style="overflow: hidden;border: 1px solid #E8E2E0;border-radius: 50px"
             [src]="item?.user?.profilePicture ? item?.user?.profilePicture?.startsWith('http') ? item?.user?.profilePicture : configService.url(item?.user?.profilePicture) : 'assets/images/frame.png'"
             width="42" height="42">
        <mat-label class="font-size-13 weight-500"
                   style="margin: auto 10px">{{item?.user?.firstName}} {{item?.user?.lastName}}</mat-label>
        <mat-label class="font-size-12 weight-500 position-absolute" style="right: 10px; margin: 10px auto">2hrs agos
        </mat-label>
      </div>
      <br>
      <div class="font-size-14 weight-700">
        {{item?.question}}
      </div>
      <br>
      <div class="font-size-13 weight-400">
        {{item?.answer}}
      </div>
      <br>
      <div class="d-flex justify-content-between align-items-center">
        <div class="white-card p-1" style="width: fit-content">
          <img
            [src]="configService.url(item.category?.icon)"
            width="24">
          <mat-label class="font-size-12 weight-600" style="margin: auto 5px">{{item?.category?.name}}</mat-label>
        </div>
        <div>
          <button mat-stroked-button (click)="importQuestion(item.question, item._id)" color="primary"
                  class="me-2 radius"
                  style="border: 1px solid #0B6FEA">
            Import Question
          </button>
          <button mat-stroked-button (click)="importQuestionAnswer(item.question, item.answer, item._id)"
                  color="primary"
                  class="radius" style="border: 1px solid #0B6FEA">
            Import Question + Answer
          </button>
        </div>
      </div>

    </div>
  </div>

  <!--  public-->
  <div *ngIf="selectedTabIndex == 1">
    <div *ngFor="let item of library?.questions" class="gray-card p-4 mb-2">
      <div class="d-flex white-card position-relative">
        <img src="assets/images/frame.png" width="42">
        <mat-label class="font-size-13 weight-500" style="margin: auto 10px">Sam Smith</mat-label>
        <mat-label class="font-size-12 weight-500 position-absolute" style="right: 10px; margin: 10px auto">2hrs agos
        </mat-label>
      </div>
      <br>
      <div class="font-size-14 weight-700">
        {{item?.question}}
      </div>
      <br>
      <div class="d-inline-flex">
        <div class="white-card p-1" style="width: fit-content">
          <img
            [src]="configService.url(item.category?.icon)"
            width="24">
          <mat-label class="font-size-12 weight-600" style="margin: auto 5px">{{item?.category?.name}}</mat-label>
        </div>
        &nbsp;&nbsp;
        <div class="white-card p-1" style="width: fit-content">
          <img src="assets/images/score.png" width="24">
          <mat-label class="font-size-12 weight-600" style="margin: auto 10px">176 <span class="text-gray">Score</span>
          </mat-label>
        </div>
      </div>
      <br>
      <br>
      <div class="border-bottom"></div>
      <br>
      <div class="d-block">
        <div class="d-inline-block">
          <img src="assets/images/coin-bronze.png" width="25">
          &nbsp;&nbsp;<span class="font-size-14 weight-600">5 Bronze</span>
        </div>
        <div class="float-end">
          <button (click)="importQuestion(item.question, item._id)" mat-stroked-button color="primary"
                  class="me-2 radius"
                  style="border: 1px solid #0B6FEA">
            Import Question
          </button>
        </div>
      </div>

    </div>
  </div>

  <!--  bookmark-->
  <div *ngIf="selectedTabIndex == 2">
    <div *ngFor="let item of library?.questions" class="gray-card p-3 mb-2">
      <div class="d-flex white-card position-relative">
        <img style="overflow: hidden;border: 1px solid #E8E2E0;border-radius: 50px"
             [src]="item?.user?.profilePicture ? item?.user?.profilePicture?.startsWith('http') ? item?.user?.profilePicture : configService.url(item?.user?.profilePicture) : 'assets/images/frame.png'"
             width="42" height="42">
        <mat-label class="font-size-13 weight-500"
                   style="margin: auto 10px">{{item?.user?.firstName}} {{item?.user?.lastName}}</mat-label>
        <mat-label class="font-size-12 weight-500 position-absolute" style="right: 10px; margin: 10px auto">2hrs agos
        </mat-label>
      </div>
      <br>
      <div class="font-size-14 weight-700">
        {{item?.question}}
      </div>
      <br>
      <div class="font-size-13 weight-400">
        {{item?.answer}}
      </div>
      <br>
      <div class="d-flex justify-content-between align-items-center">
        <div class="white-card p-1" style="width: fit-content">
          <img
            [src]="configService.url(item.category?.icon)"
            width="24">
          <mat-label class="font-size-12 weight-600" style="margin: auto 5px">{{item?.category?.name}}</mat-label>
        </div>
        <div>
          <button mat-stroked-button (click)="importQuestion(item.question, item._id)" color="primary"
                  class="me-2 radius"
                  style="border: 1px solid #0B6FEA">
            Import Question
          </button>
          <button mat-stroked-button (click)="importQuestionAnswer(item.question, item.answer, item._id)"
                  color="primary"
                  class="radius" style="border: 1px solid #0B6FEA">
            Import Question + Answer
          </button>
        </div>
      </div>

    </div>
  </div>
  <br>
</div>
