<div class="font-size-14 weight-700 p-2 border-bottom"
     [style]="generalService.userObj?.preferedLanguage?.code == 'fa' ? 'direction: rtl': 'direction: ltr'">
  <!--  <img src="assets/images/add.svg" (click)="closeModal()" width="24">-->
  <svg (click)="closeModal()" width="24" height="24" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M13.4819 21.4023L21.9672 12.9171" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"/>
    <path d="M21.9672 21.4032L13.4819 12.918" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"/>
  </svg>
  &nbsp;{{'Joining Game' | translate}}
</div>
<div mat-dialog-content style="padding-bottom: 0"
     [style]="generalService.userObj?.preferedLanguage?.code == 'fa' ? 'direction: rtl': 'direction: ltr'"
     [class]="{'': !generalService.isMobileView, 'p-1': generalService.isMobileView}">
  <mat-card class="shadow-none">
    <mat-card-header>
      <mat-card-title
        class="font-size-14 weight-600">{{'Players waiting for you! Join the game:' | translate}}</mat-card-title>
    </mat-card-header>
  </mat-card>
  <div [class]="{'d-inline-flex': !generalService.isMobileView, 'd-block': generalService.isMobileView}">
    <mat-card class="shadow-none">
      <mat-card-header>
        <img mat-card-avatar
             [src]="data?.data?.game?.creator?.profilePicture ? data?.data?.game?.creator?.profilePicture?.startsWith('http') ? data?.data?.game?.creator?.profilePicture : configService.url(data?.data?.game?.creator?.profilePicture) : 'assets/images/frame.png'"
             width="35" height="35">
        <mat-card-title
          class="font-size-10 weight-500 mt-2 text-gray">{{'Created by...' | translate}}
        </mat-card-title>
        <mat-card-subtitle class="font-size-14 weight-500">
          {{data?.data?.game?.creator?.firstName}} {{data?.data?.game?.creator?.lastName}}
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <div class="w-100" [class]="{'d-flex': !generalService.isMobileView, 'd-inline-flex': generalService.isMobileView}">
      <mat-card class="shadow-none">
        <mat-card-header>
          <img mat-card-avatar [src]="configService.baseUrl + data?.data?.game?.category?.icon" width="35"
               height="35">
          <mat-card-title
            class="font-size-14 weight-500 mt-2">{{data?.data?.game?.category?.name | translate}}
          </mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="shadow-none">
        <mat-card-header>
          <img mat-card-avatar src="assets/images/normal-game.png" *ngIf="data?.data?.game?.gameType?.id == 'normal'"
               width="35"
               height="35">
          <img mat-card-avatar src="assets/images/survival-game.png"
               *ngIf="data?.data?.game?.gameType?.id == 'survival'"
               width="35" height="35">
          <mat-card-title
            class="font-size-14 weight-500 mt-2">{{data?.data?.game?.gameType?.text}}
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <br>
  <br>
  <form #f="ngForm" [formGroup]="questionForm" autocomplete="off">
    <div class="d-flex">
      <!--      <img src="assets/images/message-question.svg" width="24">-->
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M17.8408 18.5899H13.8408L9.39081 21.5499C8.73081 21.9899 7.84082 21.5199 7.84082 20.7199V18.5899C4.84082 18.5899 2.84082 16.5899 2.84082 13.5899V7.58984C2.84082 4.58984 4.84082 2.58984 7.84082 2.58984H17.8408C20.8408 2.58984 22.8408 4.58984 22.8408 7.58984V13.5899C22.8408 16.5899 20.8408 18.5899 17.8408 18.5899Z"
          stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path
          d="M12.8406 11.5205V11.3105C12.8406 10.6305 13.2607 10.2705 13.6807 9.98053C14.0907 9.70053 14.5006 9.34054 14.5006 8.68054C14.5006 7.76054 13.7606 7.02051 12.8406 7.02051C11.9206 7.02051 11.1807 7.76054 11.1807 8.68054"
          stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12.8363 13.9102H12.8453" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>

      &nbsp;<div class="font-size-14 weight-600">{{'My Question' | translate}}:</div>
      <div class="font-size-14 weight-600 cursor-pointer" (click)="openImportFromLib()"
           style="text-align: end; flex: 1; color: #0B6FEA"><i class="bi bi-plus"></i>
        {{'Import from library' | translate}}
      </div>
    </div>
    <div class="textarea-container">
      <textarea [formControlName]="'question'" (ngModelChange)="updateWordCount()"></textarea>
      <div class="word-counter">{{ wordCount }} {{'Words' | translate}}</div>
    </div>

    <div>
      <div class="d-flex">
        <!--        <img src="assets/images/clipboard-text.svg" width="24">-->
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.9917 12.3604H14.9917" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M7.9917 16.3604H12.3717" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                stroke-linecap="round" stroke-linejoin="round"/>
          <path
            d="M9.9917 6.16016H13.9917C15.9917 6.16016 15.9917 5.16016 15.9917 4.16016C15.9917 2.16016 14.9917 2.16016 13.9917 2.16016H9.9917C8.9917 2.16016 7.9917 2.16016 7.9917 4.16016C7.9917 6.16016 8.9917 6.16016 9.9917 6.16016Z"
            stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path
            d="M15.9917 4.17969C19.3217 4.35969 20.9917 5.58969 20.9917 10.1597V16.1597C20.9917 20.1597 19.9917 22.1597 14.9917 22.1597H8.9917C3.9917 22.1597 2.9917 20.1597 2.9917 16.1597V10.1597C2.9917 5.59969 4.6617 4.35969 7.9917 4.17969"
            stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        &nbsp;<div class="font-size-14 weight-600">{{'My Answer' | translate}}:</div>
      </div>
      <div class="textarea-container">
        <textarea [formControlName]="'answer'" (ngModelChange)="updateWordCountAnswer()"></textarea>
        <div class="word-counter">{{ wordCountAnswer }} {{'Words' | translate}}</div>
      </div>
    </div>
    <div class="align-items-center" [class]="{'d-flex': !generalService.isMobileView, 'd-block': generalService.isMobileView}">
      <mat-slide-toggle labelPosition="before"
                        (change)="onToggleActiveTranslate($event)">{{'Auto-translate questions and answers' | translate}}</mat-slide-toggle>
      <mat-label *ngIf="generalService.toggleValueTranslate"
                 class="ps-2 pe-2">{{'to' | translate}}</mat-label>
      <mat-form-field *ngIf="generalService.toggleValueTranslate" appearance="fill"
                      class="custom-form-field"
                      [class]="{'w-25': !generalService.isMobileView, 'w-50': generalService.isMobileView}">
        <mat-label>{{'Language' | translate}}</mat-label>
        <mat-select (selectionChange)="selectTranslatedLang($event.value)">
          <mat-option *ngFor="let lang of generalService?.clientInit?.languages"
                      [value]="lang.code">{{lang.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <br>
  <br>
  <!--  <div class="copy-referrer position-relative p-0">-->
  <div class="copy-referrer-joining position-sticky bottom-0 p-0 bg-white border-0">
    <div [class]="{'d-flex': !generalService.isMobileView, 'd-block': generalService.isMobileView}">
      <div class="w-100"
           [class]="{'d-flex': !generalService.isMobileView, 'd-inline-flex': generalService.isMobileView}">
        <mat-card class="bg-transparent shadow-none">
          <mat-card-header>
            <img mat-card-avatar style="width: 25px !important; height: 25px !important;"
                 src="assets/images/coin-bronze.png">
            <mat-card-title
              class="font-size-12 weight-600">{{'Joining Fee' | translate}}
            </mat-card-title>
            <mat-card-subtitle class="font-size-14 weight-600">
              {{data?.data?.joinGamePrice}} {{'Bronze' | translate}}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card class="bg-transparent shadow-none">
          <mat-card-header style="padding: 16px;">
            <!--          <img mat-card-avatar style="width: 25px !important; height: 25px !important;"-->
            <!--               src="assets/images/wallet-minus.svg">-->
            <svg mat-card-avatar
                 style="width: 24px !important;height: 24px !important;margin-top: 8px;margin-bottom: 0;padding: 0;display: flex;align-items: center;"
                 width="25" height="25"
                 viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1626 16.3145H10.1626" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                    stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M13.5608 2.83454L13.5308 2.90454L10.6308 9.63454H7.78084C7.10084 9.63454 6.45084 9.77454 5.86084 10.0245L7.61084 5.84454L7.65084 5.74454L7.72084 5.58454C7.74084 5.52454 7.76084 5.46454 7.79084 5.41454C9.10084 2.38454 10.5808 1.69454 13.5608 2.83454Z"
                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M18.9509 9.83496C18.5009 9.69496 18.0209 9.63496 17.5409 9.63496H10.6309L13.5309 2.90496L13.5609 2.83496C13.7109 2.88496 13.8509 2.95496 14.0009 3.01496L16.2109 3.94496C17.4409 4.45496 18.3009 4.98496 18.8209 5.62496C18.9209 5.74496 19.0009 5.85496 19.0709 5.98496C19.1609 6.12496 19.2309 6.26496 19.2709 6.41496C19.3109 6.50496 19.3409 6.59496 19.3609 6.67496C19.6309 7.51496 19.4709 8.54496 18.9509 9.83496Z"
                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M22.4226 14.5148V16.4648C22.4226 16.6648 22.4126 16.8648 22.4026 17.0648C22.2126 20.5548 20.2626 22.3148 16.5626 22.3148H8.7626C8.5226 22.3148 8.2826 22.2948 8.0526 22.2648C4.8726 22.0548 3.1726 20.3548 2.9626 17.1748C2.9326 16.9448 2.9126 16.7048 2.9126 16.4648V14.5148C2.9126 12.5048 4.1326 10.7748 5.8726 10.0248C6.4726 9.77477 7.1126 9.63477 7.7926 9.63477H17.5526C18.0426 9.63477 18.5226 9.70477 18.9626 9.83477C20.9526 10.4448 22.4226 12.3048 22.4226 14.5148Z"
                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M7.61088 5.84473L5.86088 10.0247C4.12088 10.7747 2.90088 12.5047 2.90088 14.5147V11.5847C2.90088 8.74473 4.92088 6.37473 7.61088 5.84473Z"
                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M22.4195 11.5841V14.5141C22.4195 12.3141 20.9595 10.4441 18.9595 9.84406C19.4795 8.54406 19.6295 7.52406 19.3795 6.67406C19.3595 6.58406 19.3295 6.49406 19.2895 6.41406C21.1495 7.37406 22.4195 9.34406 22.4195 11.5841Z"
                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <mat-card-title
              class="font-size-12 weight-600">{{'My Balance' | translate}}
            </mat-card-title>
<!--            <mat-card-subtitle class="font-size-14 weight-600">-->
<!--              {{data?.data?.balance}} {{'Bronze' | translate}}-->
<!--            </mat-card-subtitle>-->
            <mat-card-subtitle>
              <img src="assets/images/coin-bronze.png"
                   width="15">&nbsp;<span>{{generalService.userObj?.assets?.coins?.bronze}}</span>&nbsp;
              <img src="assets/images/coin-silver.png"
                   width="15">&nbsp;<span>{{generalService.userObj?.assets?.coins?.silver}}</span>&nbsp;
              <img src="assets/images/coin-gold.png"
                   width="15">&nbsp;<span>{{generalService.userObj?.assets?.coins?.gold}}</span>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <button mat-raised-button color="primary"
              [class]="{'next-step-game-joining': !generalService.isMobileView, 'next-step-game-joining-mobile': generalService.isMobileView}"
              [disabled]="questionForm.invalid || loading"
              (click)="joinGame()">
        {{'Play and join game' | translate}}
        <i *ngIf="generalService.userObj?.preferedLanguage?.code != 'fa'" class="bi bi-arrow-right"></i>
        <i *ngIf="generalService.userObj?.preferedLanguage?.code == 'fa'" class="bi bi-arrow-left"></i>
      </button>
    </div>
  </div>
</div>
