<div class="font-size-14 weight-700 p-2 border-bottom"><img src="assets/images/add.svg" (click)="closeModal()"
                                                            width="24">&nbsp;{{'Joining Game' | translate}}
</div>
<div mat-dialog-content>
  <mat-card class="shadow-none">
    <mat-card-header>
      <mat-card-title
        class="font-size-14 weight-600">{{'Players waiting for you! Join the game:' | translate}}</mat-card-title>
    </mat-card-header>
  </mat-card>
  <div class="d-inline-flex">
    <mat-card class="shadow-none">
      <mat-card-header>
        <img mat-card-avatar
             [src]="data?.data?.game?.creator?.profilePicture ? data?.data?.game?.creator?.profilePicture?.startsWith('http') ? data?.data?.game?.creator?.profilePicture : configService.url(data?.data?.game?.creator?.profilePicture) : 'assets/images/frame.png'"
             width="35" height="35">
        <mat-card-title
          class="font-size-10 weight-500 mt-2 text-gray">Created by ...
        </mat-card-title>
        <mat-card-subtitle class="font-size-14 weight-500">
          {{data?.data?.game?.creator?.firstName}} {{data?.data?.game?.creator?.lastName}}
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="shadow-none">
      <mat-card-header>
        <img mat-card-avatar src="assets/images/normal-game.png" width="35" height="35">
        <mat-card-title
          class="font-size-14 weight-500 mt-2">Environment
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="shadow-none">
      <mat-card-header>
        <img mat-card-avatar src="assets/images/normal-game.png" *ngIf="data?.data?.game?.gameType?.id == 'normal'"
             width="35"
             height="35">
        <img mat-card-avatar src="assets/images/survival-game.png" *ngIf="data?.data?.game?.gameType?.id == 'survival'"
             width="35" height="35">
        <mat-card-title
          class="font-size-14 weight-500 mt-2">{{data?.data?.game?.gameType?.text}}
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>

  <br>
  <br>
  <form #f="ngForm" [formGroup]="questionForm" autocomplete="off">
    <div class="d-flex">
      <img src="assets/images/message-question.svg" width="24">
      &nbsp;<div class="font-size-14 weight-600">My Question:</div>
      <div class="font-size-14 weight-600 cursor-pointer" (click)="openImportFromLib()"
           style="text-align: right; flex: 1; color: #0B6FEA"><i class="bi bi-plus"></i>
        Import from
        library
      </div>
    </div>
    <div class="textarea-container">
      <textarea [formControlName]="'question'"></textarea>
      <div class="word-counter">{{ wordCount }} Words</div>
    </div>

    <div>
      <div class="d-flex">
        <img src="assets/images/clipboard-text.svg" width="24">
        &nbsp;<div class="font-size-14 weight-600">My Answer:</div>
      </div>
      <div class="textarea-container">
        <textarea [formControlName]="'answer'"></textarea>
        <div class="word-counter">{{ wordCountAnswer }} Words</div>
      </div>
    </div>
  </form>
  <br>
  <br>
  <div class="copy-referrer position-relative p-0">
    <div class="d-inline-flex">
      <mat-card class="bg-transparent shadow-none">
        <mat-card-header>
          <img mat-card-avatar style="width: 25px !important; height: 25px !important;"
               src="assets/images/coin-bronze.png">
          <mat-card-title
            class="font-size-12 weight-600">Joining Fee
          </mat-card-title>
          <mat-card-subtitle class="font-size-14 weight-600">
            {{data?.data?.joinGamePrice}} Bronze
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class="bg-transparent shadow-none">
        <mat-card-header>
          <img mat-card-avatar style="width: 25px !important; height: 25px !important;"
               src="assets/images/wallet-minus.svg">
          <mat-card-title
            class="font-size-12 weight-600">My Balance
          </mat-card-title>
          <mat-card-subtitle class="font-size-14 weight-600">
            {{data?.data?.balance}} Bronze
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <button mat-raised-button color="primary" class="next-step-game" [disabled]="questionForm.invalid || loading"
              (click)="joinGame()">
        {{'Play and join game' | translate}}
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
