<div class="footer">
  <img src="assets/images/logo.png" width="110" class="footer-logo">
  <div class="weight-500 sponsor-title-footer">Sponsors:</div>
  <div class="sponsors">
    <button *ngFor="let sponsor of generalService.clientInit?.sponsors" (click)="gotoSponsorLink(sponsor.link)"
            class="sponsor-button border-0">
      <img [src]="'https://api.staging.1qma.games/' + sponsor.icon" width="45" height="45"/>
    </button>
  </div>
  <div class="parent-ul-li-footer">
    <ul class="pe-1 d-flex mb-0">
      <li class="p-2 ul-li-footer">
        <label>
          <a [routerLink]="'/privacy'" class="nav-link pointer">
            Privacy and policy
          </a>
        </label>
      </li>
      <li class="p-2 ul-li-footer">
        <label>
          <a class="nav-link pointer">
            Tutorials
          </a>
        </label>
      </li>
    </ul>
    <ul class="pe-1 d-flex mb-0">
      <li class="p-2 ul-li-footer">
        <label>
          <a [routerLink]="'/terms'" class="nav-link pointer">
            Terms Of Services
          </a>
        </label>
      </li>
      <li class="p-2 ul-li-footer">
        <label>
          <a class="nav-link pointer">
            Careers
          </a>
        </label>
      </li>
    </ul>
    <ul class="pe-1 d-flex mb-0">
      <li class="p-2 ul-li-footer">
        <label>
          <a [routerLink]="'/faq'" class="nav-link pointer">
            FAQ
          </a>
        </label>
      </li>

      <li class="p-2 ul-li-footer" *ngIf="generalService?.hasCompletedSignup">
        <label>
          <a [routerLink]="'/report-bug'" class="nav-link pointer">
            Report a bug
          </a>
        </label>
      </li>
    </ul>
  </div>
  <div class="copyright">
    Copyright ©  2024 - 1QMA - All rights reserved
  </div>
</div>
