<div class="footer">
  <ul class="pe-1 d-flex">
    <li class="text-white p-2 w-10">
      <label>
        <a class="nav-link pointer">
          <i class="bi-collection nav-icon"></i>
          footer 1
        </a>
      </label>
    </li>
    <li class="text-white p-2 w-10">
      <label>
        <a class="nav-link pointer">
          <i class="bi-collection nav-icon"></i>
          footer 3
        </a>
      </label>
    </li>
  </ul>
  <ul class="pe-1 d-flex">
    <li class="text-white p-2 w-10">
      <label>
        <a class="nav-link pointer">
          <i class="bi-collection nav-icon"></i>
          footer 2
        </a>
      </label>
    </li>
    <li class="text-white p-2 w-10">
      <label>
        <a class="nav-link pointer">
          <i class="bi-collection nav-icon"></i>
          footer 4
        </a>
      </label>
    </li>
  </ul>
  <mat-icon style="color: white; position: absolute; right: 10px; top: 35%">home</mat-icon>
  <div class="copyright">
    Copyright ©  2024 - 1QMA - All rights reserved
  </div>
</div>
