<div class="footer">
  <div style="height: 100px">
    <ul class="pe-1 d-flex mb-0">
      <li class="p-2 w-10">
        <label>
          <a class="nav-link pointer">
            footer 1
          </a>
        </label>
      </li>
      <li class="p-2 w-10">
        <label>
          <a class="nav-link pointer">
            footer 3
          </a>
        </label>
      </li>
    </ul>
    <ul class="pe-1 d-flex mb-0">
      <li class="p-2 w-10">
        <label>
          <a class="nav-link pointer">
            footer 2
          </a>
        </label>
      </li>
      <li class="p-2 w-10">
        <label>
          <a class="nav-link pointer">
            footer 4
          </a>
        </label>
      </li>
    </ul>
    <div style="position: absolute; left: 30%; top:20px" class="weigth-500">Sponsors:</div>
    <div class="sponsors">
      <button class="sponsor-button border-0"></button>
      <button class="sponsor-button border-0"></button>
      <button class="sponsor-button border-0"></button>
      <button class="sponsor-button border-0"></button>
    </div>
    <img src="assets/images/logo.png" width="110" style="position: absolute; right: 30px; top: 15px">
  </div>
  <div class="copyright">
    Copyright ©  2024 - 1QMA - All rights reserved
  </div>
</div>
