<!--<app-header></app-header>-->
<br><br>
<div class="card border-0 p-4 font-size-16 weight-600" *ngIf="generalService?.userObj">
  Account Info
</div>
<br>
<div style="display: ruby-text;">
  <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>
<div class="d-inline-flex" *ngIf="!loading">
  <div class="card w-20 border-0 p-4 text-center me-3" style="height: 200px" *ngIf="generalService?.userObj">
    <div style="margin: 0 auto">
      <mat-spinner *ngIf="loadingUpload" [diameter]="30"></mat-spinner>
    </div>
    <div *ngIf="!loadingUpload">
      <div style="background: #D9D9D9; border-radius: 50px; width: 75px; height: 75px; margin: 0 auto">
        <img
          [src]="generalService?.userObj?.profilePicture ? generalService?.userObj?.profilePicture?.startsWith('http') ? generalService?.userObj?.profilePicture : configService.url(generalService?.userObj?.profilePicture) : 'assets/images/frame.png'"
          width="56" height="56" style="margin-top: 9px">
      </div>
      <br><br>
      <mat-label class="font-size-14 weight-500 cursor-pointer" (click)="OpenAddFilesDialog()">Add Profile Image
      </mat-label>
      <input #FileSelectInputDialog type="file" (change)="imageProfileInput($event)" hidden/>
      <mat-label class="font-size-14 weight-500 cursor-pointer" (click)="removeProfilePicture()">Remove Image
      </mat-label>
    </div>
  </div>
  <div class="card border-0 p-5" style="width: 870px" *ngIf="generalService?.userObj">
    <mat-label class="font-size-14 weight-700">Personal information</mat-label>
    <form class="mb-3" [formGroup]="form" (ngSubmit)="updateProfile()">
      <br>
      <mat-form-field appearance="fill" class="custom-form-field w-100" [hideRequiredMarker]="true">
        <mat-label>{{'Name' | translate}}</mat-label>
        <input matInput placeholder="{{'First name' | translate}}" type="text" [formControlName]="'firstName'">
      </mat-form-field>
      <mat-form-field appearance="fill" class="custom-form-field w-100" [hideRequiredMarker]="true">
        <mat-label>{{'Last Name' | translate}}</mat-label>
        <input matInput placeholder="{{'Last name' | translate}}" type="text" [formControlName]="'lastName'">
      </mat-form-field>
      <mat-form-field appearance="fill" class="custom-form-field w-100" [hideRequiredMarker]="true">
        <mat-label>{{'E-mail' | translate}}</mat-label>
        <input matInput placeholder="{{'email' | translate}}" type="email" [formControlName]="'email'">
      </mat-form-field>
      <mat-form-field appearance="fill" class="custom-form-field w-100">
        <ngx-mat-intl-tel-input
          [enablePlaceholder]="true"
          [enableSearch]="true"
          [preferredCountries]="['ir']"
          name="phone"
          [formControlName]="'mobile'"></ngx-mat-intl-tel-input>
      </mat-form-field>
      <div class="d-flex">
        <mat-form-field class="custom-form-field w-50" appearance="fill">
          <mat-label>{{'Gender' | translate}}</mat-label>
          <mat-select [formControlName]="'gender'">
            <mat-option *ngFor="let gen of generalService?.clientInit?.genders"
                        [value]="gen._id">{{gen?.title}}</mat-option>
          </mat-select>
        </mat-form-field>&nbsp;&nbsp;
        <mat-form-field class="custom-form-field w-50" appearance="fill">
          <mat-label>{{'Education' | translate}}</mat-label>
          <mat-select [formControlName]="'education'">
            <mat-option *ngFor="let edu of generalService?.clientInit?.educations"
                        [value]="edu._id">{{edu?.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-flex">
        <mat-form-field class="custom-form-field w-50" appearance="fill">
          <mat-label>{{'Country' | translate}}</mat-label>
          <mat-select [formControlName]="'country'">
            <mat-option *ngFor="let country of generalService?.countryListEng"
                        [value]="country.name"
                        (onSelectionChange)="generalService.getCitiesBasedOnCountry(country.code)">{{country.name}}</mat-option>
          </mat-select>
        </mat-form-field>&nbsp;&nbsp;
        <mat-form-field class="custom-form-field w-50" appearance="fill">
          <mat-label>{{'City' | translate}}</mat-label>
          <mat-select [formControlName]="'city'">
            <mat-option *ngFor="let cty of generalService?.cities | keyvalue"
                        [value]="cty?.value">{{cty?.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>
      <br>
      <mat-label class="font-size-14 weight-700">Change Password</mat-label>
      <br>
      <br>
      <mat-form-field class="custom-form-field w-100" appearance="fill">
        <mat-label>{{'Current Password' | translate}}</mat-label>
        <input matInput placeholder="{{'Current Password' | translate}}" type="text"
               [formControlName]="'currentPassword'">
      </mat-form-field>
      <mat-form-field class="custom-form-field w-100" appearance="fill">
        <mat-label>{{'password' | translate}}</mat-label>
        <input matInput placeholder="{{'password' | translate}}" type="text" [formControlName]="'password'">
      </mat-form-field>
      <mat-form-field class="custom-form-field w-100" appearance="fill">
        <mat-label>{{'password Confirmation' | translate}}</mat-label>
        <input matInput placeholder="{{'password Confirmation' | translate}}" type="text"
               [formControlName]="'passwordConfirmation'">
      </mat-form-field>
      <br>
      <br>
      <mat-label class="font-size-14 weight-700">Account Type</mat-label>
      <br>
      <br>
      <div [class]="generalService?.userObj?.profilePicture?.startsWith('http') ? 'accountType-div-no-bg' : 'accountType-div'">
        <div class="d-inline-block">
          <img style="margin: 16px;"
               [src]="generalService?.userObj?.accountType?.icon ? configService.url(generalService?.userObj?.accountType?.icon)  : 'assets/images/base.png'"
               width="80" height="80">
          <div class="position-absolute" style="left: 100px; top: 30px">
            <div class="font-size-18 weight-700">{{generalService?.userObj?.accountType?.name}}</div>
            <mat-label
              class="font-size-16 weight-400">{{'Description' | translate}}</mat-label>
          </div>
          <div class="position-absolute link-text" style="right: 16px; top: 40%">Change Plan</div>
        </div>
      </div>
      <br>
      <br>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="form?.invalid" class="save-button">{{'Save' | translate}}
      </button>
      <!--  <div role="alert" style="color: #ff5722; margin: 10px 0">-->
      <!--    {{error}}-->
      <!--  </div>-->
    </form>
  </div>
</div>
