<!--<app-header></app-header>-->
<br><br>
<div class="card border-0 p-4 font-size-16 weight-600" *ngIf="generalService.userObj">
  {{'Account Info' | translate}}
</div>
<br>
<div style="display: table; margin: auto">
  <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>
<div [class]="{'d-inline-flex': !generalService.isMobileView, 'd-block': generalService.isMobileView}" *ngIf="!loading">
  <div class="card border-0 text-center mb-2"
       [class]="{'w-20': !generalService.isMobileView, 'w-100 p-2': generalService.isMobileView}"
       [style]="generalService.isMobileView ? 'margin-inline-end: 0' : 'margin-inline-end: 1rem; padding: 2rem; max-width: 200px;min-width: 200px;'"
       style="height: 200px" *ngIf="generalService.userObj">
    <div style="margin: 0 auto">
      <mat-spinner *ngIf="loadingUpload" [diameter]="30"></mat-spinner>
    </div>
    <div *ngIf="!loadingUpload">
      <div style="border: 1px solid #D9D9D9; border-radius: 50px; width: 75px; height: 75px; margin: 5px auto 0">
        <img
          [src]="generalService.userObj?.profilePicture ? generalService.userObj?.profilePicture?.startsWith('http') ? generalService.userObj?.profilePicture : configService.url(generalService.userObj?.profilePicture) : 'assets/images/frame.png'"
          width="73" height="73" style="border-radius: 50px">
      </div>
      <br><br>
      <mat-label class="font-size-14 weight-500 cursor-pointer"
                 (click)="OpenAddFilesDialog()">{{'Add Profile Image' | translate}}
      </mat-label>
      <br>
      <mat-label class="font-size-14 weight-500 cursor-pointer"
                 (click)="removeProfilePicture()">{{'Remove Image' | translate}}
      </mat-label>
    </div>
  </div>
  <div class="card border-0"
       [style]="generalService.isMobileView ? 'width: 100%' : 'width: 850; max-width: 850px;'"
       [class]="{'p-4': !generalService.isMobileView, 'p-2': generalService.isMobileView}"
       *ngIf="generalService.userObj">
    <mat-label class="font-size-14 weight-700">{{'Personal information' | translate}}</mat-label>
    <form class="mb-3" [formGroup]="form" (ngSubmit)="updateProfile()">
      <br>
      <mat-form-field appearance="fill" class="custom-form-field w-100" [hideRequiredMarker]="true">
        <mat-label>{{'Name' | translate}}</mat-label>
        <input matInput placeholder="{{'First name' | translate}}" type="text" [formControlName]="'firstName'">
      </mat-form-field>
      <mat-form-field appearance="fill" class="custom-form-field w-100" [hideRequiredMarker]="true">
        <mat-label>{{'Last Name' | translate}}</mat-label>
        <input matInput placeholder="{{'Last name' | translate}}" type="text" [formControlName]="'lastName'">
      </mat-form-field>
      <mat-form-field appearance="fill" class="custom-form-field w-100" [hideRequiredMarker]="true">
        <mat-label>{{'E-mail' | translate}}</mat-label>
        <input matInput placeholder="{{'email' | translate}}" type="email" [formControlName]="'email'">
      </mat-form-field>
      <mat-form-field appearance="fill" class="custom-form-field w-100">
        <ngx-mat-intl-tel-input
          [enablePlaceholder]="true"
          [enableSearch]="true"
          [preferredCountries]="['ir']"
          name="phone"
          [formControlName]="'mobile'"></ngx-mat-intl-tel-input>
      </mat-form-field>
      <div [class]="{'d-flex': !generalService.isMobileView, 'd-block': generalService.isMobileView}">
        <mat-form-field class="custom-form-field"
                        [class]="{'w-50': !generalService.isMobileView, 'w-100': generalService.isMobileView}"
                        appearance="fill">
          <mat-label>{{'Gender' | translate}}</mat-label>
          <mat-select [formControlName]="'gender'">
            <mat-option *ngFor="let gen of generalService?.clientInit?.genders"
                        [value]="gen._id">{{gen?.title}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span *ngIf="!generalService.isMobileView">&nbsp;&nbsp;</span>
        <mat-form-field class="custom-form-field" appearance="fill"
                        [class]="{'w-50': !generalService.isMobileView, 'w-100': generalService.isMobileView}">
          <mat-label>{{'Education' | translate}}</mat-label>
          <mat-select [formControlName]="'education'">
            <mat-option *ngFor="let edu of generalService?.clientInit?.educations"
                        [value]="edu._id">{{edu?.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div [class]="{'d-flex': !generalService.isMobileView, 'd-block': generalService.isMobileView}">
        <mat-form-field class="custom-form-field" appearance="fill"
                        [class]="{'w-50': !generalService.isMobileView, 'w-100': generalService.isMobileView}">
          <mat-label>{{'Country' | translate}}</mat-label>
          <mat-select [formControlName]="'country'">
            <mat-option>
              <ngx-mat-select-search [formControl]="countryFilterCtrl"
                                     placeholderLabel="{{'Search Country' | translate}}"
                                     noEntriesFoundLabel="{{'No countries found' | translate}}">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let country of filteredCountries"
                        [value]="country.name"
                        (onSelectionChange)="generalService.getCitiesBasedOnCountry(country.code)">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <span *ngIf="!generalService.isMobileView">&nbsp;&nbsp;</span>
        <mat-form-field class="custom-form-field" appearance="fill"
                        [class]="{'w-50': !generalService.isMobileView, 'w-100': generalService.isMobileView}">
          <mat-label>{{'City' | translate}}</mat-label>
          <mat-select [formControlName]="'city'">
            <mat-option>
              <ngx-mat-select-search [formControl]="generalService.cityFilterCtrl"
                                     placeholderLabel="{{'Search City' | translate}}"
                                     noEntriesFoundLabel="No cities found">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let cty of generalService?.filteredCities" [value]="cty">{{cty}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-block">
        <mat-slide-toggle labelPosition="before"
                          class="w-100"
                          [formControlName]="'playAnonymously'">{{'Play Anonymously' | translate}}</mat-slide-toggle>
        <br>
        <br>
        <mat-form-field *ngIf="form.controls?.['playAnonymously']?.value" appearance="fill"
                        class="custom-form-field"
                        [class]="{'w-50': !generalService.isMobileView, 'w-100': generalService.isMobileView}"
                        [hideRequiredMarker]="true">
          <mat-label>{{'Anonymous Name' | translate}}</mat-label>
          <input matInput placeholder="{{'Anonymous Name' | translate}}" maxlength="12" type="text"
                 [formControlName]="'anonymousName'">
        </mat-form-field>
      </div>
      <br>
      <br>
      <mat-label class="font-size-14 weight-700">{{'Change Password' | translate}}</mat-label>
      <br>
      <br>
      <mat-form-field class="custom-form-field w-100" appearance="fill">
        <mat-label>{{'Current Password' | translate}}</mat-label>
        <input matInput placeholder="{{'Current Password' | translate}}" type="password"
               [formControlName]="'currentPassword'">
      </mat-form-field>
      <mat-form-field class="custom-form-field w-100" appearance="fill">
        <mat-label>{{'password' | translate}}</mat-label>
        <input matInput placeholder="{{'password' | translate}}" type="password" [formControlName]="'password'">
      </mat-form-field>
      <mat-form-field class="custom-form-field w-100" appearance="fill">
        <mat-label>{{'password Confirmation' | translate}}</mat-label>
        <input matInput placeholder="{{'password Confirmation' | translate}}" type="password"
               [formControlName]="'passwordConfirmation'">
      </mat-form-field>
      <button *ngIf="generalService.isMobileView" mat-raised-button color="primary" type="submit" style="height: 48px"
              [disabled]="form.invalid" class="w-100">{{'Save' | translate}}
      </button>
      <br>
      <br>
      <mat-label class="font-size-14 weight-700">{{'Account type' | translate}}</mat-label>
      <br>
      <br>
      <div
        [class]="generalService.userObj?.profilePicture?.startsWith('http') ? 'accountType-div-no-bg' : 'accountType-div'">
        <div class="d-inline-block">
          <img style="margin: 16px;"
               [src]="generalService.userObj?.accountType?.icon ? configService.url(generalService.userObj?.accountType?.icon)  : 'assets/images/base.png'"
               width="80" height="80">
          <div class="position-absolute" style="inset-inline-start: 100px; top: 30px">
            <div class="font-size-18 weight-700">{{generalService.userObj?.accountType?.name}}</div>
            <mat-label
              class="font-size-16 weight-400">{{'Description-plan' | translate}}</mat-label>
          </div>
          <div class="position-absolute link-text"
               style="inset-inline-end: 16px; top: 40%">{{'Change Plan' | translate}}</div>
        </div>
      </div>
      <br>
      <br>
      <button *ngIf="!generalService.isMobileView" mat-raised-button color="primary" type="submit"
              [disabled]="form.invalid" class="save-button">{{'Save' | translate}}
      </button>
      <!--  <div role="alert" style="color: #ff5722; margin: 10px 0">-->
      <!--    {{error}}-->
      <!--  </div>-->
    </form>
  </div>
</div>
<br>
<br>
<div class="w-100" [class]="{'d-inline-flex': !generalService.isMobileView, 'd-block': generalService.isMobileView}"
     *ngIf="!loading">
  <div class="border-0 text-center mb-2"
       [class]="{'w-20': !generalService.isMobileView, 'w-100 p-2': generalService.isMobileView}"
       [style]="generalService.isMobileView ? 'margin-inline-end: 0' : 'margin-inline-end: 1rem; padding: 2rem; max-width: 200px; min-width: 200px'"
       *ngIf="generalService.userObj">
  </div>
  <div class="card border-0"
       [style]="generalService.isMobileView ? 'width: 100%' : 'width: 850px'"
       [class]="{'p-4': !generalService.isMobileView, 'p-2': generalService.isMobileView}"
       *ngIf="generalService.userObj">
    <mat-label class="font-size-14 weight-700">{{'Deactivate Account' | translate}}</mat-label>
    <mat-slide-toggle labelPosition="before" [(ngModel)]="isAccountDeactivated"
                      (change)="openDialogDeactivate('0','0',$event)">{{'Deactivate my account' | translate}}</mat-slide-toggle>
  </div>
</div>
